{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block javascript %}
<script language="javascript" type="text/javascript">

var ORIGINAL_EMAIL = '{{ form.email.value }}';
// Dialog needs to be read before form is submitted. Here we keep track of
// whether it has been shown or not. If it has been shown, the form will work
// as usual. If it hasn't been shown, it needs to be shown first and then the
// form can be submitted.
var EMAIL_CHANGE_DIALOG_SHOWN = false;

$(document).ready(function() {
    $('input[type="submit"]').on('click', function(evt) {

        if ($('#id_email').val() != ORIGINAL_EMAIL && !EMAIL_CHANGE_DIALOG_SHOWN) {
            $('#dialog-email-change').modal();
            evt.preventDefault();
        }

    });
});

</script>
{% endblock %}

{% block content %}

{% include 'accounts/dialog_email_change.html' %}

<section class="content">
<div class="pull-right">
    <a class="btn btn-default" href="/accounts/password/change/">{% trans "Change password" %}</a>
</div>

<h1>{% trans "Settings" %}</h1>
<p>{% trans "You are signed in as" %} {{ user.get_name }}.</p>

<div class='onesignal-customlink-container'></div>

{% crispy form %}

<span id="cancel-url">{% url 'profile' %}</span>
</section>
{% endblock %}
