{% load elections %}
{% load i18n %}

{% for election in elections %}
    <tr>
        <td>
            <i id="electionstar_{{ election.id }}" class="icon-pencil {% if election|electionvoted:user %}{% else %}icon-grey{% endif %}"
                title="{% if election|electionvoted:user %}{% trans "You have voted in this election" %}{% else %}{% trans "You have not voted in this election" %}{% endif %}"></i>
            <a href="/polity/{{ election.polity_id }}/election/{{ election.id }}/">{{ election.name }}</a>
        </td>
        <td>{% if election.is_voting %}<strong>{% trans "Voting" %}</strong>{% else %}{% if election.is_open %}{% trans "Open" %}{% else %}{% trans "Closed" %}{% endif %}{% endif %}</td>
        <td>{{ election.candidate_set.count }}</td>
        <td>{{ election.get_vote_count }}</td>
    </tr>
{% empty %}
    <tr>
        <td colspan=4 style="text-align: center; font-size: 110%;">
             {% trans "No elections are scheduled at the moment." %}
        </td>
    </tr>
{% endfor %}
