{% extends "base.html" %}
{% load i18n %}
{% load wasa2il %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
{% add_breadcrumb _('Polities') '/polities/' %}
{% url 'polity' polity.id as polityurl %}
{% add_breadcrumb polity.name polityurl %}
{% add_breadcrumb _('New election') %}
{{ block.super }}
{% endblock %}

{% block javascript %}
    {{ form.media }}
{% endblock %}

{% block content %}

<h1>{% trans "New election" %}</h1>

{% crispy form %}
<span id="cancel-url">{% url 'polity' polity.id %}</span>

{% endblock %}
