{% extends "base.html" %}
{% load i18n %}

{% block content %}

<center>
<h1>{% trans "Something bad happened!" %}</h1>

<div class="alert alert-error">{% trans "A bunch of well-trained monkeys have been notified and they will take a look at the problem as soon as possible." %}</div>

<p>{% trans "Sometimes things break only for a few seconds, so it may work if you try again." %}</p>

<p>{% trans "Otherwise, please email us at" %} <a href="mailto:skraning@piratar.is">skraning@piratar.is</a></p>

</center>

{% endblock %}

