{% load i18n %}
{% load wasa2il %}
<div>
    <h2>{% trans "Issues" %} <small>{% trans "up for vote"%}</small></h2>
    <p class="muted">{% trans "These are the issues up for vote." %}</p>
    <table class="table table-striped table-bordered table-condensed" id="votingIssues">
    <thead>
    <tr>
        <th>{% trans "Issue" %}</th>
        <th>{% trans "Polity" %}</th>
        <th>{% trans "Comments" %}</th>
        <th>{% trans "Votes" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for issue in votingissues|slice:"10" %}
        <tr>
            <td>
                <span id="issuestar_{{ issue.id }}" class="glyphicon glyphicon-pencil {% if issue|issuevoted:user %}{% else %}icon-grey{% endif %}"
                    title="{% if issue|issuevoted:user %}{% trans "You have voted on this issue" %}{% else %}{% trans "You have not voted on this issue" %}{% endif %}"></span>
                <a href="/issue/{{issue.id}}/">{{issue.name}}</a>
            </td>
            <td>
                <a href="/polity/{{issue.polity.id}}">{{ issue.polity.name }}</a>
            </td>
            <td>{{ issue.comment_set.count }}</td>
            <td>{{ issue.votecount }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan=4 style="text-align: center; font-size: 110%;">
                {% trans "There are no new issues at the moment." %}
            </td>
        </tr>
    {% endfor %}
    {% if votingissues|length > 10 %}
        <tr class="showMore">
            <td colspan=4 style="text-align: center; font-size: 110%;">
                <a href="#">{% trans "Show all" %}</a>
            </td>
        </tr>
        {% for issue in votingissues|slice:"10:" %}
            <tr class="more" style="display:none;">
                <td>
                    <span id="issuestar_{{ issue.id }}" class="glyphicon glyphicon-pencil {% if issue|issuevoted:user %}{% else %}icon-grey{% endif %}"
                        title="{% if issue|issuevoted:user %}{% trans "You have voted on this issue" %}{% else %}{% trans "You have not voted on this issue" %}{% endif %}"></span>
                    <a href="/issue/{{issue.id}}/">{{issue.name}}</a>
                </td>
                <td>
                    <a href="/polity/{{issue.polity.id}}">{{ issue.polity.name }}</a>
                </td>
                <td>{{ issue.comment_set.count }}</td>
                <td>{{ issue.votecount }}</td>
            </tr>
        {% endfor %}
            <tr class="more showLess" style="display:none;">
                <td colspan=4 style="text-align: center; font-size: 110%;">
                    <a href="#">{% trans "Show less" %}</a>
                </td>
            </tr>
    {% endif %}
    </tbody>
    </table>
</div>
<div>
    <h2>{% trans "Elections" %} <small>{% trans "up for vote"%}</small></h2>

    <p class="muted">{% trans "Sometimes you need to put people in their places. Elections do just that." %}</p>

    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>{% trans "Election" %}</th>
                <th>{% trans "Polity" %}</th>
                <th>{% trans "State" %}</th>
                <th>{% trans "Candidates" %}</th>
                <th>{% trans "Votes" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for election in elections %}
                <tr>
                    <td>
                        <span id="electionstar_{{ election.id }}" class="glyphicon glyphicon-pencil {% if election|electionvoted:user %}{% else %}icon-grey{% endif %}"
                            title="{% if election|electionvoted:user %}{% trans "You have voted in this election" %}{% else %}{% trans "You have not voted in this election" %}{% endif %}"></span>
                        <a href="/polity/{{ election.polity_id }}/election/{{ election.id }}/">{{ election.name }}</a>
                    </td>
                    <td>
                        <a href="/polity/{{election.polity_id}}">{{ election.polity.name }}</a>
                    </td>
                    <td>{% if election.is_voting %}{% trans "Voting" %}{% else %}{% if election.is_open %}{% trans "Open" %}{% else %}{% trans "Closed" %}{% endif %}{% endif %}</td>
                    <td>{{ election.candidate_set.count }}</td>
                    <td>{{ election.get_vote_count }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" style="text-align: center; font-size: 110%;">
                         {% trans "No elections are scheduled at the moment." %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <h2>{% trans "Issues" %} <small>{% trans "in discussion"%}</small></h2>

    <p class="muted">{% trans "These are the issues being discussed." %}</p>

    <table class="table table-striped table-bordered table-condensed" id="newissues_list">
    <thead>
    <tr>
        <th>{% trans "Issue" %}</th>
        <th>{% trans "Polity" %}</th>
        <th>{% trans "Comments" %}</th>
        <th>{% trans "Votes" %}</th>
    </tr>
    </thead>
    <tbody>

        {% for issue in openissues|slice:"10" %}
            <tr>
                <td>
                    <span id="issuestar_{{ issue.id }}" class="glyphicon glyphicon-pencil {% if issue|issuevoted:user %}{% else %}icon-grey{% endif %}"
                        title="{% if issue|issuevoted:user %}{% trans "You have voted on this issue" %}{% else %}{% trans "You have not voted on this issue" %}{% endif %}"></span>
                    <a href="/issue/{{issue.id}}/">{{issue.name}}</a>
                </td>
                <td>
                    <a href="/polity/{{issue.polity.id}}">{{ issue.polity.name }}</a>
                </td>
                <td>{{ issue.comment_set.count }}</td>
                <td>{{ issue.votecount }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan=4 style="text-align: center; font-size: 110%;">
                    {% trans "There are no new issues at the moment." %}
                </td>
            </tr>
        {% endfor %}
        {% if openissues|length > 10 %}
            <tr class="showMore">
                <td colspan=4 style="text-align: center; font-size: 110%;">
                    <a href="#">{% trans "Show all" %}</a>
                </td>
            </tr>
            {% for issue in openissues|slice:"10:" %}
                <tr class="more" style="display:none;">
                    <td>
                        <span id="issuestar_{{ issue.id }}" class="glyphicon glyphicon-pencil {% if issue|issuevoted:user %}{% else %}icon-grey{% endif %}"
                            title="{% if issue|issuevoted:user %}{% trans "You have voted on this issue" %}{% else %}{% trans "You have not voted on this issue" %}{% endif %}"></span>
                        <a href="/issue/{{issue.id}}/">{{issue.name}}</a>
                    </td>
                    <td>
                        <a href="/polity/{{issue.polity.id}}">{{ issue.polity.name }}</a>
                    </td>
                    <td>{{ issue.comment_set.count }}</td>
                    <td>{{ issue.votecount }}</td>
                </tr>
            {% endfor %}
                <tr class="more showLess" style="display:none;">
                    <td colspan=4 style="text-align: center; font-size: 110%;">
                        <a href="#">{% trans "Show less" %}</a>
                    </td>
                </tr>
        {% endif %}
    </tbody>
    </table>
</div>
{% block head_extra %}
<script>
$(function() {
    $('tr.showMore a').click(function(e) {
        e.preventDefault();
        var table = $(this).parents('table')
        $('tr.more', table).show();
        $('tr.showMore', table).hide();
    })
    $('tr.showLess a').click(function(e) {
        e.preventDefault();
        var table = $(this).parents('table')
        $('tr.more', table).hide();
        $('tr.showMore', table).show();
    })
})
</script>
{% endblock %}
