{% load i18n %}
{% load wasa2il %}
{% load static %}

<li{% if request.resolver_match.url_name == "profile" %} class="active"{% endif %}><a href="/accounts/profile/{{user.username}}/">
  <i class="fas fa-user"></i>
  {% trans "Profile" %}
</a></li>

{% comment %}
Disabled because functionality is incomplete here.
{% endcomment %}
{% if FEATURES.tasks and False %}
<li{% if request.resolver_match.url_name == "task_user_tasks" %} class="active"{% endif %}><a href="/accounts/profile/{{user.username}}/tasks/">
  <i class="fas fa-hand-paper"></i>
  {% trans "User's tasks" %}
</a></li>
{% endif %}
