{% load i18n %}
{% load wasa2il %}
{% load static %}
{% if ORGANIZATION_NEWS_URL %}
  <li><a href="{{ ORGANIZATION_NEWS_URL }}"><i class="fas fa-newspaper"></i> {% trans 'News Site' %}</a></li>
{% endif %}

{% comment %}
<!-- The instructions are currently outdated and misleading. They need to be
  updated to be useful, at which point we'll uncomment this. -->
{% if user.is_authenticated %}
<li><a href="/help/instructions/"><i class="fas fa-question-circle"></i> {% trans "Help" %}</a></li>
{% endif %}
{% endcomment %}

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
    <i class="fas fa-users"></i> {% trans "Sub-polities" %} <span class="caret"></span>
  </a>
  <ul class="dropdown-menu subpolity-list-menu">
    <li><div class="container-fluid mb-2">
      <div class="row">
        {% for key, nav_entry in polity_nav.items %}
        <div class="col-lg-4 col-sm-12">
          <h3>{{ nav_entry.polity_type_name }}</h3>
          <ul class="subpolity-list-nav">
            {% for p in nav_entry.polities %}
            <li><a href="{% url 'polity' p.id %}">{{ p }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div></li> 
  </ul>
</li>

{% if user.is_authenticated %}
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
    <img src="{{ user.userprofile.picture|thumbnail:'30x30' }}" class="img-rounded img-negpad"/> {{ user.get_name }} <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="/accounts/profile/"><i class="fas fa-user"></i> {% trans "My profile" %}</a></li>
    <li><a href="/accounts/settings/"><i class="fa fa-cog"></i> {% trans "My settings" %}</a></li>
    <li><a href="{% url 'personal_data' %}"><i class="fa fa-key"></i> {% trans 'Personal data' %}</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="/accounts/logout/"><i class="fas  fa-sign-out-alt"></i> {% trans "Logout" %}</a></li>
  </ul>
</li>
{% else %}
<li><a href="/accounts/login/{% if '/accounts/' not in request.get_full_path %}?next={{ request.get_full_path }}{% endif %}"><i class="fas fa-sign-in-alt"></i> {% trans "Log in" %}</a></li>
<li><a href="/accounts/register/"><i class="fas fa-user-plus"></i> {% trans "Sign up" %}</a></li>
{% endif %}
