{% load i18n %}
{% load wasa2il %}
{% load static %}
{% if user.is_authenticated %}
<li><a href="/help/instructions/"><i class="fas fa-question-circle"></i> {% trans "Help" %}</a></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
    <img src="{{ user.userprofile.picture|thumbnail:'30x30' }}" class="img-rounded img-negpad"/> {{ user.get_name }} <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="/accounts/profile/"><i class="fas fa-user"></i> {% trans "My profile" %}</a></li>
    <li><a href="/accounts/settings/"><i class="fa fa-cog"></i> {% trans "My settings" %}</a></li>
    <li><a href="{% url 'personal_data' %}"><i class="fa fa-key"></i> {% trans 'Personal data' %}</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="/accounts/logout/"><i class="fas  fa-sign-out-alt"></i> {% trans "Logout" %}</a></li>
  </ul>
</li>
{% else %}
<li><a href="/accounts/login/{% if '/accounts/' not in request.get_full_path %}?next={{ request.get_full_path }}{% endif %}"><i class="fas fa-sign-in-alt"></i> {% trans "Log in" %}</a></li>
<li><a href="/accounts/register/"><i class="fas fa-user-plus"></i> {% trans "Sign up" %}</a></li>
{% endif %}
