{% load i18n %}
{% load wasa2il %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% trans "Voting System - Pirate Party Iceland" %}{% if polity %} - {{ polity }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="/static/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/pirateparty-16x16-is.png' %}"/>

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% block facebook_title %}{{ INSTANCE_NAME }}{% endblock %}" />
    <meta property="og:description" content="{% block facebook_description %}{% trans 'An online platform for holding elections and voting on issues.' %}{% endblock %}" />
    <meta property="og:url" content="{{ INSTANCE_URL }}{{ request.path }}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" />
    <meta property="og:site_name" content="{{ INSTANCE_NAME }}" />
    <meta property="og:image" content="{% block facebook_image_url %}{{ INSTANCE_FACEBOOK_IMAGE }}{% endblock %}" />
    <meta property="fb:app_id" content="{{ INSTANCE_FACEBOOK_APP_ID }}" />

    <link href="/static/css/application.css" rel="stylesheet" />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/fontawesome/js/fontawesome-all.min.js"></script>
    <script src="/static/js/wasa2il.js"></script>

    {% block javascript %}
    {% endblock %}


    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">

    {% block head_extra %}{% endblock %}
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

      <div class="container-fluid">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" onclick="$('#wrapper').toggleClass('toggled')">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/"><img alt="Píratar" src="/static/img/pplogo.png"/></a>
          </div>

          <div class="collapse navbar-collapse piratepurple" >

            <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
              <li><a href="/help/instructions/"><i class="fas fa-question-circle"></i> {% trans "Help" %}</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                  <img src="{{ user.userprofile.picture|thumbnail:'30x30' }}" class="img-rounded img-negpad"/> {{ user.get_name }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/accounts/profile/"><i class="fas fa-user"></i> {% trans "My profile" %}</a></li>
                  <li><a href="/accounts/settings/"><i class="fa fa-cog"></i> {% trans "My settings" %}</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/accounts/logout/"><i class="fas  fa-sign-out-alt"></i> {% trans "Logout" %}</a></li>
                </ul>
              </li>
              {% else %}
              <li><a href="/accounts/login/{% if '/accounts/' not in request.get_full_path %}?next={{ request.get_full_path }}{% endif %}"><i class="fas fa-sign-in-alt"></i> {% trans "Log in" %}</a></li>
              <li><a href="/accounts/register/"><i class="fas fa-user-plus"></i> {% trans "Sign up" %}</a></li>
              {% endif %}
            </ul>

          </div><!-- /.navbar-collapse -->
      </div> <!-- end container -->
    </nav>


    <div class="container-fluid" id="wrapper">

      <div id="sidebar-wrapper" role="navigation">
        {% if polity %}
          {% include "_sidenav_polity.html" %}
        {% endif %}


        </ul>
      </div>

      <div id="page-content-wrapper">
        {% comment %}
          {% block breadcrumbs %}
          {% render_breadcrumbs %}
          {% endblock %}
        {% endcomment %}

        {% block content %}{% endblock %}
        <footer class="footer">
          <hr/>
          <a href="/help/wasa2il/">{% trans "About wasa2il" %}</a> ·
          <a href="/help/copyright/">{% trans "License" %}</a> ·
          <a href="/help/instructions/">{% trans "Instructions" %}</a> ·
          <a href="/help/authors/">{% trans "Authors" %}</a> ·
          {% trans "Version" %} {{ INSTANCE_VERSION }}
        </footer>
      </div>
    </div>
    {% block extrascripts %}
    {% endblock %}

  </body>
</html>
