{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% trans "wassa2il" %}{% if polity %} - {{polity}}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="wassa2il">
    <meta name="author" content="wassa2il">

    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
    	<style type="text/css">
	body {
	padding-top: 60px;
	padding-bottom: 40px;
	}
	</style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet"/>
    <link href="/static/jquery-ui-1.9.2.custom/css/ui-lightness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet"/>
    <link href="/static/css/application.css" rel="stylesheet" />

    {% block javascript %}
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="/static/js/jquery-ui-timepicker-addon.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/wasa2il.js"></script>
    {% endblock %}

    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">{% trans "‫وسائل" %}</a>
        {% if polity %}<a class="brand" href="/polity/{{polity.id}}/">{{polity}}</a>
        	{% if topic %}<a class="brand" href="/polity/{{polity.id}}/topic/{{topic.id}}/">{{topic}}</a>
		        {% if issue %}<a class="brand" href="/polity/{{polity.id}}/">{{issue}}</a>{% endif %}
		{% endif %}
	{% endif %}
        <div class="nav-collapse">
          <ul class="nav">
	{% if polity %}
	{% endif %}
          </ul>
          <ul class="nav pull-right">
	{% if user.is_authenticated %}
            <li><a href="/help/">{% trans "Help" %}</a></li>
	    <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.username}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/accounts/profile/"><i class="icon-user"></i> {% trans "My profile" %}</a></li>
            <li><a href="/accounts/settings/"><i class="icon-wrench"></i> {% trans "My settings" %}</a></li>
            <li><a href="/accounts/logout"><i class="icon-off"></i> {% trans "Logout" %}</a></li>
          </ul>
        </li>
	{% else %}
            <li><a href="/accounts/login">{% trans "Log in" %}</a></li>
            <li><a href="/accounts/register">{% trans "Sign up" %}</a></li>
	{% endif %}
          </ul>
        </div>
      </div>
    </div>
    </div>

    <div class="container">
{% block content %}

{% endblock %}

      <footer class="footer">
	<hr/>
        <p class="pull-right"><a href="#">{% trans "Back to top" %}</a></p>
        <a href="/help/wasa2il/">{% trans "About wasa2il" %}</a> ·
        <a href="/help/copyright/">{% trans "License" %}</a> ·
        <a href="/help/authors/">{% trans "Authors" %}</a>
      </footer>

    </div>

  </body>
</html>


