{% load i18n %}
{% load wasa2il %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% trans "Voting System - Pirate Party Iceland" %}{% if polity %} - {{ polity }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="/static/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/pirateparty-16x16-is.png' %}"/>

    <meta property="og:type" content="website" />
    {% if facebook_title %}
    <meta property="og:title" content="{{ facebook_title }}" />
    {% else %}
    <meta property="og:title" content="{{ INSTANCE_NAME }}" />
    {% endif %}
    <meta property="og:description" content="{{ facebook_description }}" />
    <meta property="og:url" content="{{ INSTANCE_URL }}{{ request.path }}" />
    <meta property="og:site_name" content="{{ INSTANCE_NAME }}" />
    <meta property="og:image" content="{{ INSTANCE_FACEBOOK_IMAGE }}" />

    <link href="/static/css/application.css" rel="stylesheet" />
    <style type="text/css">
      body {
        padding-top: 80px;
        padding-bottom: 40px;
      }
      .navbar {
        background-color: #FAFAFA;
        background-image: url("/static/img/header-bg.png");
        background-repeat: repeat-x;
        vertical-align: center;
        height: 75px;
      }
      .navbar .navbar-brand {
        margin: 0px;
        padding: 0px;
        color: #fff;
      }
      .navbar .nav > .li, .navbar .nav > li > a:hover, .navbar .nav > li > a {
        color: #fff;
      }
      .navbar .nav > li > a:hover {
        color: #eee;
      }
    </style>

    {% block javascript %}
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/static/js/trans.js"></script>
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="/static/js/jquery-ui-timepicker-addon.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/js/wasa2il.js"></script>

    {% endblock %}


    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
  </head>
  <body>
  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/polities/"><img alt="Píratar" src="/static/img/pplogo.png"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse piratepurple" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="/help/instructions/">{% trans "Help" %}</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                <img src="{{ user.userprofile.picture|thumbnail:'30x30' }}" class="img-rounded img-negpad"/> {{ user.get_name }}<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/accounts/profile/"><span class="glyphicon glyphicon-user"></span> {% trans "My profile" %}</a></li>
                <li><a href="/accounts/settings/"><span class="glyphicon glyphicon-wrench"></span> {% trans "My settings" %}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/accounts/logout/"><span class="glyphicon glyphicon-off"></span> {% trans "Logout" %}</a></li>
              </ul>
            </li>
            {% else %}
            <li><a href="/accounts/login/">{% trans "Log in" %}</a></li>
            <li><a href="/accounts/register/">{% trans "Sign up" %}</a></li>
            {% endif %}
          </ul>
           <form class="navbar-form navbar-right" action="/search">
            <div class="form-group" style="display:inline;">
              <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="{% trans 'Search agreements' %}">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
              </div>
            </div>
          </form>
          
        </div><!-- /.navbar-collapse -->
    </nav>
    <div class="">
    {% block content %}{% endblock %}
      <footer class="footer">
        <hr/>
        <p class="pull-right"><a href="#">{% trans "Back to top" %}</a></p>
        <a href="/help/wasa2il/">{% trans "About wasa2il" %}</a> ·
        <a href="/help/copyright/">{% trans "License" %}</a> ·
        <a href="/help/instructions/">{% trans "Instructions" %}</a> ·
        <a href="/help/authors/">{% trans "Authors" %}</a>
      </footer>
    </div>

  </div><!-- /.container -->
  </body>
</html>


