{% extends 'base.html' %}

{% block content %}

{% load i18n %}

<section id="responsive">
  <div class="row">
<ul class="thumbnails">
<li class="span4">
	<a href="https://www.island.is/audkenning?id=piratar.is" class="mainaction">
        	<h1>{% trans "Sign up"%}</h1>
		{% trans "In order to use Wasa2il you need to register an account." %}
	</a>
</li>
<li class="span4">
        <a href="/accounts/login/" class="mainaction">
		<h1>{% trans "Log in"%}</h1>
		{% trans "If you log in, you can participate in your polities." %}
	</a>
</li>
<li class="span4">
        <a href="/polities" class="mainaction">
          <h1>{% trans "Browse Polities"%}</h1>
	  {% trans "You can browse publicly visible polities without registering." %}
	</a>
</li>
</ul>
   
		
  </div>
 
<div class="row">
	<div class="span4">
		<h3>{% trans "FAQ" %}</h3>
		<ul>
			<li><a href="/help/polity/">{% trans "What is a polity?" %}</a></li>
			<li><a href="/help/democracy/">{% trans "How electronic democracy work?" %}</a></li>
			<li><a href="/help/who/">{% trans "Who can use Wasa2il?" %}</a></li>
			<li><a href="/help/wasa2il/">{% trans "What does Wasa2il mean?" %}</a></li>
		</ul>	
	</div>
	<div class="span4">
		<h3>{% trans "New polities" %}</h3>
		<ul>
			{% for p in somepolities %}
			<li><a href="/polity/{{p.id}}"/>{{p.name}}</a></li>
			{% endfor %}
		</ul>	
	</div>
	<div class="span4">
		<h3>{% trans "Recent decisions" %}</h3>
		<ul>

		</ul>	
	</div>
</div>

</section>


{% endblock %}
