{% extends 'base.html' %}

{% block content %}

{% load i18n %}

<section id="responsive">
  <div class="row">
<ul class="thumbnails">
<li class="span4">
          <div class="thumbnail">
            
            <div class="caption">
              <h1>{% trans "Sign up"%}</h1>
              
             
            </div>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            
            <div class="caption">
              <h1>{% trans "Start a Policy"%}</h1>
             
            </div>
          </div>
        </li>
		 <li class="span4">
          <div class="thumbnail">
            
            <div class="caption">
              <h5>{% trans "Browse Polities"%}</h5>
            
          </div>
        </li>
      </ul>
   
		
  </div><!-- /.row -->
 
  <div class="row">
   <div class="navbar">
      <div class="navbar-inner">
      <div class="container">
       
        <a class="brand span3" href="#">{% trans "Help" %}</a>
	<a class="brand span3" href="#">{% trans "Join Code" %}</a>
	<a class="brand span3" href="#">{% trans "Free Software" %}</a>
        
      </div>
    </div><!-- /navbar-inner -->
    </div>
   
  </div><!-- /.row -->
<div class="row">  
    <div class="span12">
     
    </div><!-- /.span -->
  </div><!-- /.row -->

</section>


{% endblock %}
