{% extends 'base.html' %}

{% block content %}

{% load i18n %}

<section id="responsive">
  <div class="row">
<ul class="thumbnails">
<li class="span4">
      <div class="thumbnail">
        
        <div class="caption">
          <h1><a href="/accounts/register/">{% trans "Sign up"%}</a></h1>
              
        </div>
      </div>
</li>
<li class="span4">
     <div class="thumbnail">
            
        <div class="caption">
          <h1><a href="/polities/">{% trans "Browse Polities"%}</a></h1>
	</div>
     </div>
</li>
</ul>
   
		
  </div><!-- /.row -->
 
</section>


{% endblock %}
