{% extends 'base.html' %}

{% block content %}

{% load i18n %}

<section id="responsive">
  <div class="row">
<ul class="thumbnails">
<li class="span4">
          <div class="thumbnail" height="180px" style="align='center'">
            
            <div class="caption">
              <a><h1>{% trans "Sign up"%}</h1></a>
              
              </div>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail" height="180px">
            
           <a> <div class="caption">
              <h1>{% trans "Start a Policy"%}</h1>
             
            </div>
		</a>
          </div>
        </li>
		 <li class="span4">
          <div class="thumbnail" height="180px">
           <a> 
            <div class="caption">
              <h1>{% trans "Browse Polities"%}</h1>
            </a>
          </div>
        </li>
      </ul>
   
		
  </div><!-- /.row -->
 
  <div class="row">
   <div class="navbar">
      <div class="navbar-inner">
      <div class="container" >
       <div class="brand span1" ></div>
        <a class="brand span3" href="#">{% trans "Help" %}</a>
	<div class=" brand span1" ></div>
	<a class="brand span3" href="#">{% trans "Join Code" %}</a>
	<div class="brand span1" ></div>
	<a class="brand span3 "  style="padding ='0px'" href="#">{% trans "Free Software" %}</a>
        
      </div>
    </div><!-- /navbar-inner -->
    </div>
   
  </div><!-- /.row -->

<div class="row"> 
 {% for polity in polities %}		
    <div class="span4">
          <div class="thumbnail">
            <img src="" width ="260" height="180"alt="alt" />
            <div class="caption">
              <h5>{{ polity.name}}</h5>
              <p> {{ polity.description}}</p>
           
            </div>
          </div>
 	 </div>

		{% endfor %}
  </div><!-- /.row -->

</section>


{% endblock %}
