{% extends "base.html" %}
{% load i18n %}
{% load wasa2il %}

{% block facebook_title %}{% if profile.displayname %}{{ profile.displayname }}{% else %}{% trans 'User' %}{% endif %}{% endblock %}
{% block facebook_description %}{% if profile.bio %}{{ profile.bio }}{% else %}{{ INSTANCE_NAME }}{% endif %}{% endblock %}
{% block facebook_image_url %}{{ INSTANCE_URL }}{{ profile.picture.url }}{% endblock %}

{% block content %}

{% if profile.email_visible %}<div class="pull-right"><small>{{ subject.email }}</small></div>{% endif %}
<h1>
    {% if profile.displayname %}
        {{ profile.displayname }} <small>({{ subject.username }})</small>
    {% else %}
        {{ subject.username }}
    {% endif %}
</h1>

<div class="profile">
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#summary" data-toggle="tab">{% trans "Summary" %}</a></li>
            {% for polity in polities %}
            <li><a href="#polity{{ polity.id }}" data-toggle="tab">{{ polity }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="summary">
                <div class="row">
                    <div class="col-md-4">
                        {% if profile.picture %}
                            <img class="img-thumbnail" src="{{ profile.picture.url }}" />
                        {% else %}
                            <img class="img-thumbnail" src="http://placekitten.com/g/200/300" />
                        {% endif %}
                    </div>
                     <div class="col-md-8">
                        <div id="user-bio">
                            {% if profile.bio %}
                                {{profile.bio|linebreaksbr}}
                            {% else %}
                                {% trans "This user hasn't provided a biography." %}
                            {% endif %}
                        </div>
                    </div>
                </div> <!-- ./row -->
            </div>
            {% for polity in polities %}
                <div class="tab-pane" id="polity{{ polity.id }}">
                    <div class="profile-document-data">
                        {% for item in documentdata %}
                            {% if item|classname == 'Document' %}
                                {% if item.polity_id == polity.id %}
                                    <p class="document"><a href="/polity/{{ polity.id }}/document/{{ item.id }}/">{{ item.name }}</a></p>
                                {% endif %}
                            {% else %}
                                {% if item.document.polity_id == polity.id %}
                                    <p class="documentcontent"><a href="/polity/{{ polity.id }}/document/{{ item.document_id }}/?v={{ item.order }}">{% trans 'Version' %} {{ item.order }}</a> <small>({{ item.get_status_display }})</small></p>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
