{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="row">
  <div class="span10">
    <div class="page-header">
      {% if profile.email_visible %}<div class="pull-right"><small>{{subject.email}}</small></div>{% endif %}
      <h1>
        {% if profile.displayname %}
        {{ profile.displayname }} <small>({{subject.username}})</small>
        {% else %}
        {{subject.username}}
        {% endif %}
      </h1>
    </div>
    <div id="user-bio">
      {{profile.bio}}
    </div>
    <hr>
  </div>
  <div class="span2">
      {% if profile.picture %}
      <img class="img-polaroid" src="{{ profile.picture.url }}" />
      {% else %}
      <img class="img-polaroid" src="http://placekitten.com/g/200/300" />
      {% endif %}
  </div>
</div>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#summary" data-toggle="tab">{% trans "Summary" %}</a></li>
    {% for polity in polities %}
    <li {% if not polity.readable %}class="disabled"{% endif %}><a href="#polity{{ polity.id }}" data-toggle="tab">{{ polity }}</a></li>
    {% endfor %}
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="summary">
      <img src="http://cdn.memegenerator.net/instances/400x/32393202.jpg">
    </div>
    {% for polity in polities %}
    <div class="tab-pane" id="polity{{ polity.id }}">
      {% if polity.readable %}
      <p>
        <a href="/polity/{{polity.id}}">{{polity}}</a>
      </p>
      {% else %}
      <div class="alert"><p>
        <strong>{{ polity }}</strong> {% trans "is not viewable by non-members." %}
      </p></div>
      {% endif %}
      
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
