# This file enumerates various files/patterns to ignore in git.
# Please keep this file tidy and neat

# Local environment file
.env

# Django translation files
*.mo

# Sqlite DB files
*.sqlite

# Log files
*.log

# Virtualenvs
/.venv/
/venv/

# Coverage
/reports/*
/!reports/index.html
/.coverage
/coverage.xml

# Cache files
__pycache__/
.sass-cache

# Editors/IDEs
*.swp
*.swo
.idea
*~

# Misc/unknowns
# TODO: Trim this list down/figure out reason for ignoring
wasa2il/locale/wasa2il.pot
pip-selfcheck.json
bin
include
lib/python2.7
lib/
local
share
