## Base configuration
export W2_DEBUG=True
export W2_ADMINS=username,user@example.com
export W2_ALLOWED_HOSTS=localhost,localhost:8000
export W2_BALLOT_SAVEFILE_FORMAT='elections/ballots-%(voting_system)s-%(election_id)s.json'

## Security settings
export W2_AUTO_LOGOUT_DELAY=30
export W2_SECRET_KEY='createASecretRondomKeyHere'

## Instance identity
export W2_INSTANCE_LOGO=''
export W2_INSTANCE_NAME='Unconfigured Wasa2il'
export W2_INSTANCE_SLUG='unconfiguredwasa2il'
export W2_INSTANCE_URL=''
export W2_ORGANIZATION_NAME=''

## Overall instance rules
export W2_AGE_LIMIT=16
export W2_ALLOW_LEAVE_POLITY=False
export W2_RECENT_ELECTION_DAYS=7
export W2_RECENT_ISSUE_DAYS=7

## Database configuration
export W2_DATABASE_ENGINE=django.db.backends.mysql
# export W2_DATABASE_ENGINE=django.db.backends.postgresql_psycopg2
export W2_DATABASE_HOST=db
export W2_DATABASE_NAME=docker
export W2_DATABASE_PASSWORD=docker
export W2_DATABASE_PORT=3306
# export W2_DATABASE_PORT=5432
export W2_DATABASE_USER=docker

## Locale settings
export W2_DATETIME_FORMAT='d/m/Y H:i:s'
export W2_DATETIME_FORMAT_DJANGO_WIDGET='dd/mm/yyyy hh:ii' # django-datetime-widget
export W2_DATE_FORMAT='d/m/Y'
export W2_TIME_ZONE=Iceland
export W2_LANGUAGE_CODE=en-US # For example 'en-US', 'en', 'is' etc...

## Email settings
export W2_EMAIL_BACKEND='django.core.mail.backends.console.EmailBackend'
export W2_SERVER_EMAIL=''

## Push notifications
export W2_GCM_APP_ID=
export W2_GCM_SENDER_ID=
export W2_GCM_REST_API_KEY=

## Facebook integration
export W2_INSTANCE_FACEBOOK_APP_ID=''
export W2_INSTANCE_FACEBOOK_IMAGE='https://example.com/full/url/to/image.png'
