## Base configuration
W2_DEBUG=True
W2_ADMINS=username,user@example.com
W2_ALLOWED_HOSTS=localhost,localhost:8000
W2_BALLOT_SAVEFILE_FORMAT='elections/ballots-%(voting_system)s-%(election_id)s.json'

## Security settings
W2_AUTO_LOGOUT_DELAY=30
W2_SECRET_KEY='createASecretRondomKeyHere'

## Instance identity
W2_INSTANCE_LOGO=''
W2_INSTANCE_NAME='Unconfigured Wasa2il'
W2_INSTANCE_SLUG='unconfiguredwasa2il'
W2_INSTANCE_URL=''
W2_ORGANIZATION_NAME=''

## Overall instance rules
W2_AGE_LIMIT=16
W2_ALLOW_LEAVE_POLITY=False
W2_RECENT_ELECTION_DAYS=7
W2_RECENT_ISSUE_DAYS=7

## Database configuration
W2_DATABASE_ENGINE=django.db.backends.mysql
# W2_DATABASE_ENGINE=django.db.backends.postgresql_psycopg2
W2_DATABASE_HOST=localhost
W2_DATABASE_NAME=docker
W2_DATABASE_PASSWORD=docker
W2_DATABASE_PORT=3306
# W2_DATABASE_PORT=5432
W2_DATABASE_USER=docker
W2_DATABASE_EXPORT_DB_NAME=

## Locale settings
W2_DATETIME_FORMAT='d/m/Y H:i:s'
W2_DATETIME_FORMAT_DJANGO_WIDGET='dd/mm/yyyy hh:ii' # django-datetime-widget
W2_DATE_FORMAT='d/m/Y'
W2_TIME_ZONE=Iceland
W2_LANGUAGE_CODE=en-US # For example 'en-US', 'en', 'is' etc...

## Email settings
W2_EMAIL_BACKEND='django.core.mail.backends.console.EmailBackend'
W2_SERVER_EMAIL=''
W2_DEFAULT_FROM_EMAIL=''
W2_EMAIL_HOST='mail.example.com'
W2_EMAIL_PORT=465
W2_EMAIL_USE_TLS=True
W2_EMAIL_USE_SSL=False
W2_EMAIL_HOST_USER='user@example.com'
W2_EMAIL_HOST_PASSWORD='some-password'
W2_EMAIL_SUBJECT_PREFIX='[Organization Name] '

## Push notifications
W2_GCM_APP_ID=
W2_GCM_SENDER_ID=
W2_GCM_REST_API_KEY=

## Facebook integration
W2_INSTANCE_FACEBOOK_APP_ID=''
W2_INSTANCE_FACEBOOK_IMAGE='https://example.com/full/url/to/image.png'

## Discourse integration
W2_DISCOURSE_URL=
W2_DISCOURSE_SECRET=

## IcePirate integration
W2_ICEPIRATE_URL=''
W2_ICEPIRATE_KEY=''

## SAML 1 support
W2_SAML1_URL=''
W2_SAML1_WSDL=''
W2_SAML1_LOGIN=''
W2_SAML1_PSASWORD=''

## Feature knobs - set to "1" to enable
W2_FEATURE_TASKS=1
W2_FEATURE_TOPIC=1
W2_FEATURE_PUSH_NOTIFICATIONS=1
