ADMINS=username,user@example.com
AGE_LIMIT=16
ALLOWED_HOSTS=localhost,localhost:8000
ALLOW_LEAVE_POLITY=False
AUTO_LOGOUT_DELAY=30
BALLOT_SAVEFILE_FORMAT='elections/ballots-%(voting_system)s-%(election_id)s.json'
DATABASE_ENGINE=django.db.backends.mysql
#DATABASE_ENGINE=django.db.backends.postgresql_psycopg2
DATABASE_HOST=db
DATABASE_NAME=docker
DATABASE_PASSWORD=docker
DATABASE_PORT=3306
#DATABASE_PORT=5432
DATABASE_USER=docker
DATETIME_FORMAT='d/m/Y H:i:s'
DATETIME_FORMAT_DJANGO_WIDGET='dd/mm/yyyy hh:ii' # django-datetime-widget
DATE_FORMAT='d/m/Y'
DEBUG=True
EMAIL_BACKEND='django.core.mail.backends.console.EmailBackend'
GCM_APP_ID=
GCM_SENDER_ID=
GCM_REST_API_KEY=
INSTANCE_FACEBOOK_APP_ID=''
INSTANCE_FACEBOOK_IMAGE='https://example.com/full/url/to/image.png'
INSTANCE_LOGO=''
INSTANCE_NAME='Unconfigured Wasa2il'
INSTANCE_SLUG='unconfiguredwasa2il'
INSTANCE_URL=''
LANGUAGE_CODE=en-US # For example 'en-US', 'en', 'is' etc...
ORGANIZATION_NAME=''
RECENT_ELECTION_DAYS=7
RECENT_ISSUE_DAYS=7
SECRET_KEY='createASecretRondomKeyHere'
SERVER_EMAIL=''
TIME_ZONE=Iceland
