commonmark==0.8.0
django-dotenv
django
django-registration-redux
django-bootstrap-form
diff_match_patch
django-crispy-forms
django-prosemirror
django-termsandconditions
python-graph-core
requests
lxml
suds-jurko
signxml
python-dateutil
markdown2
pillow
pilkit
mdmail
