{% extends "base.html" %}
{% load i18n %}
{% load wasa2il %}

{% block facebook_title %}{% if profile.displayname %}{{ profile.displayname }}{% else %}{% trans 'User' %}{% endif %}{% endblock %}
{% block facebook_description %}{% if profile.bio %}{{ profile.bio }}{% else %}{{ INSTANCE_NAME }}{% endif %}{% endblock %}
{% block facebook_image_url %}{{ INSTANCE_URL }}{{ profile.picture.url }}{% endblock %}

{% block content %}
<section class="content">
  {% if profile.email_visible %}<div class="pull-right"><small>{{ profile_user.email }}</small></div>{% endif %}
  <h1>
      {% if profile.displayname %}
          {{ profile.displayname }} <small>({{ profile_user.username }})</small>
      {% else %}
          {{ profile_user.username }}
      {% endif %}
  </h1>

  {% for current_election in current_elections %}
  <div class="alert alert-info">
      <h2>
          {% trans 'Candidate in:' %}
          <strong><a href="{% url 'election' current_election.polity_id current_election.id %}">{{ current_election }}</a></strong>
      </h2>
  </div>
  {% endfor %}

  <div class="profile">
    <div class="profile-bio">
      <h1>{% trans "Biography" %}</h1>
        <div class="profile-picture">
          {% comment %}
          {% if profile.picture %}
          <img class="img-thumbnail" src="{{ profile.picture.url }}" />
          {% else %}
          <img class="img-thumbnail" src="http://placekitten.com/g/200/300" />
          {% endif %}
          {% endcomment %}
          <img class="img-thumbnail" src="http://thecatapi.com/api/images/get?format=src" />
        </div>
        {% if profile.bio %}
            {{profile.bio|markdown}}
        {% else %}
            {% trans "This user hasn't provided a biography." %}
        {% endif %}
    </div>
    <div class="profile-thingsdone">
      <div class="profile-candidacies">
        <h1>{% trans "Elections" %}</h1>
        {% for e in elections %}
        <div>
          <a href="{% url 'election' e.polity_id e.id %}">{{e}}</a> - {{e.election_state}} -
          {% if profile.user in e.get_winners_users %}
            won
          {% else %}
            lost
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <div class="profile-proposals">
        <h1>{% trans "Proposals" %}</h1>
        {% for e in profile_user.issue_set.all %}
        <div>
          <a href="{% url 'election' e.polity_id e.id %}">{{e}}</a> - {{e.election_state}} -
          {% if profile.user in e.get_winners_users %}
            won
          {% else %}
            lost
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
