{% extends "base.html" %}
{% load i18n %}
{% load wasa2il %}

{% block facebook_title %}{{ INSTANCE_NAME }}: {{ polity }}{% endblock %}

{% block breadcrumbs %}
{% add_breadcrumb _('Polities') '/polities' %}
{% add_breadcrumb polity.name %}
{{ block.super }}
{% endblock %}

{% block content %}

{% if user_is_member %}
    <div class="memberstatusbox">
        {% if user in polity.officers.all %}
            {% trans "You are an officer in this polity." %}
        {% else %}
            {% trans "You are a member of this polity." %}
        {% endif %}
    </div>
{% endif %}

<h1>{{ polity.name }}</h1>
<div style="float: right;">
    {% if user.is_staff %}
        <a class="btn btn-default" role="button" href="{% url 'polity_edit' polity.id %}">{% trans 'Edit' %}</a>
    {% endif %}
</div>

{% if user_is_member or polity.is_nonmembers_readable %}

<div>
    <span class="badge badge-info">{{ verified_user_count }} {% trans "Verified Users" %}</span>
    | <span class="badge badge-info">{{ newissues.count }} {% trans "New issues" %}</span>
    | <span class="badge badge-info">{{ polity.agreements.count }} {% trans "Agreements" %}</span>
    | <span class="badge badge-info">{{ polity.topic_set.count }} {% trans "Topics" %}</span>
    | <span class="badge badge-info">{{ newelections.count }} {% trans "Elections" %}</span>
</div>
<hr>
<div class="row">

    <div class="col-md-6 col-xs-12"><a name="newissues"></a>

        <div class="btn-group" role="group" style="float: right">
            <a class="btn btn-default btn-sm dropdown-toggle" role="button" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-list"></span><span class="caret"></span></a>
            <ul class="dropdown-menu" style="left: -50px;">
                <li><a href="{% url 'issues_new' polity.id %}">{% trans "Show all new issues" %}</a></li>
            </ul>
        </div>

        <h2>{% trans "New issues" %} <small>{% trans "in discussion"%}</small></h2>

        <p class="muted">{% trans "These are the newest issues being discussed in this polity." %}</p>

        <table class="table table-striped table-bordered table-condensed" id="newissues_list">
        <thead>
        <tr>
            <th>{% trans "Issue" %}</th>
            <th>{% trans "State" %}</th>
            <th>{% trans "Comments" %}</th>
            <th>{% trans "Votes" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for issue in newissues %}
            <tr>
                <td>
                    <span id="issuestar_{{ issue.id }}" class="glyphicon glyphicon-pencil {% if issue|issuevoted:user %}{% else %}icon-grey{% endif %}"
                        title="{% if issue|issuevoted:user %}{% trans "You have voted on this issue" %}{% else %}{% trans "You have not voted on this issue" %}{% endif %}"></span>
                    <a href="{% url 'issue' polity.id issue.id %}">{{ issue.name }}</a>
                </td>
                <td class="issue-status">{% if issue.is_voting %}<strong>{% trans "Voting" %}</strong>{% else %}{% if issue.is_open %}{% trans "Open" %}{% else %}{% trans "New" %}{% endif %}{% endif %}</td>
                <td>{{ issue.comment_set.count }}</td>
                <td>{{ issue.votecount }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan=4 style="text-align: center; font-size: 110%;">
                    {% trans "There are no new issues at the moment." %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

    {% include "election/_polity_detail_elections.html" %}

    <br clear="both">

    <div class="col-md-6 col-xs-12" style="float: right;"><a name="documents"></a>

        <div class="btn-group" role="group" style="float: right">
            {% if user_is_member %}
                <a class="btn btn-default btn-sm" role="button" href="/polity/{{ polity.id }}/document/new/">{% trans "New document" %}</a>
            {% endif %}
            <a class="btn btn-default btn-sm dropdown-toggle" role="button" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-list"></span><span class="caret"></span></a>
            <ul class="dropdown-menu" style="left: -50px;">
                <li><a href="/polity/{{ polity.id }}/agreements/">{% trans "Show all agreements" %}</a></li>
            </ul>
        </div>

        <h2>{% trans "Agreements" %} <small>{% trans "of this polity" %}</small></h2>
        <p class="muted">{% trans "Here are all of the agreements this polity has arrived at." %}</p>
        {% include "issue/_agreements.html" %}
    </div>

    <div class="col-md-6 col-xs-12"><a name="topics"></a>
        {% if user_is_member %}
        <div class="btn-group" style="float: right">
            {% if not polity.is_newissue_only_officers or polity.is_newissue_only_officers and user in polity.officers.all %}
            <a class="btn btn-default btn-sm" role="button" href="/polity/{{polity.id}}/topic/new/">{% trans "New topic" %}</a>
            {% endif %}
            <a class="btn btn-default btn-sm dropdown-toggle" role="button" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-list"></span><span class="caret"></span></a>
            <ul class="dropdown-menu" style="left: -90px;">
                <li><a id="topics_showstarred_toggle" onclick="topics_showstarred_toggle({{ polity.id }});"><span class="glyphicon glyphicon-ok {% if user.userprofile.topics_showall %}icon-grey{% endif %}"></span> {% trans "Show only starred topics" %}</a></li>
            </ul>
        </div>
        {% endif %}
        <h2>{% trans "Topics" %} <small>{% trans "of discussion"%}</small></h2>

        <p class="muted">{% trans "Topics are thematic categories that contain specific issues." %}</p>

        <table class="table table-striped table-bordered table-condensed" id="topics_list">
        <thead>
        <tr>
            <th>{% trans "Topics" %}</th>
            <th>{% trans "Issues" %}</th>
            <th>{% trans "Open Issues" %}</th>
            <th>{% trans "Voting Issues" %}</th>
            <th><span class="glyphicon glyphicon-star"></span></th>
        </tr>
        </thead>
        <tbody>
        {% with politytopics as topics %}
        {% include "topic/_topic_list_table.html" %}
        {% endwith %}
        </tbody>
        </table>
    </div>

</div>



<div class="modal fade" id="modal_subpolities">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>{% trans "Subpolities" %}</h3>
            </div>
            <div class="modal-body" id="modal_subpolities_list">
                <ul>
                    {% for p in polity.polity_set.all %}
                        <li><a href="/polity/{{p.id}}/">{{p.name}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <a onclick="$('#modal_subpolities').modal('hide');" role="button" class="btn btn-primary">{% trans "Close" %}</a>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}
