{% extends "base.html" %}
{% load i18n %}
{% load wasa2il %}

{% block breadcrumbs %}
{% add_breadcrumb _('Polities') %}
{{ block.super }}
{% endblock %}

{% block content %}
<section class="content">
<div class="row">
    {% include 'issue/_issues_recent.html' %}
    {% include 'election/_elections_recent.html' %}
</div>

<div class="row">
    {% if user.is_staff %}
    <div style="float:right;">
        <a class="btn btn-default" role="button" href="/polity/new/">{% trans "New polity" %}</a>
    </div>
    {% endif %}

    <h1>{% trans "Polities" %}</h1>

    <table class="table table-striped table-bordered">
        <tr>
            <th>{% trans "Polity" %}</th>
            <th>{% trans "Topics" %}</th>
            <th>{% trans "Documents" %}</th>
        </tr>
        {% for polity in polities %}
            {% if polity.is_listed %}
                <tr>
                    <td><a href="/polity/{{polity.id}}/">{{polity.name}}</a></td>
                    <td>{{polity.topic_set.count}}</td>
                    <td>{{polity.document_set.count}}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>
</section>
{% endblock %}
