{% extends "base.html" %}
{% load i18n %}
{% load wasa2il %}

{% block facebook_title %}{{ INSTANCE_NAME }}: {{ polity }}{% endblock %}

{% block breadcrumbs %}
{% add_breadcrumb _('Polities') '/polities' %}
{% add_breadcrumb polity.name %}
{{ block.super }}
{% endblock %}

{% block javascript %}
<script language="javascript" type="text/javascript">

$(document).ready(function() {
    $('button#polity-info-toggle').on('click', function() {
        $('div#polity-info-mobile').toggle();
    });
});

</script>
{% endblock %}

{% block content %}

<h1>
    {{ polity.name }}
    {% if user.is_staff %}
        <a class="btn btn-default" role="button" href="{% url 'polity_edit' polity.id %}">{% trans 'Edit' %}</a>
    {% endif %}
    <button type="button" class="btn btn-default" id="polity-info-toggle">{% trans 'Toggle information' %}</button>
</h1>

<div id="polity-info">
    <span style="white-space: nowrap;">{% trans "New issues" %}: <strong>{{ issues_recent.count }}</strong></span>
    <span style="white-space: nowrap;">&nbsp;|&nbsp; {% trans "New elections" %}: <strong>{{ elections_recent.count }}</strong></span>
    <span style="white-space: nowrap;">&nbsp;|&nbsp; {% trans "Verified Users" %}: <strong>{{ verified_user_count }}</strong></span>
    <span style="white-space: nowrap;">&nbsp;|&nbsp; {% trans "Agreements" %}: <strong>{{ polity.agreements.count }}</strong></span>
    <span style="white-space: nowrap;">&nbsp;|&nbsp; {% trans "Topics" %}: <strong>{{ polity.topic_set.count }}</strong></span>
</div>

<hr />

<div class="row">
    {% include 'issue/_issues_recent.html' %}
    {% include 'election/_elections_recent.html' %}
</div>



<div class="modal fade" id="modal_subpolities">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>{% trans "Subpolities" %}</h3>
            </div>
            <div class="modal-body" id="modal_subpolities_list">
                <ul>
                    {% for p in polity.polity_set.all %}
                        <li><a href="/polity/{{p.id}}/">{{p.name}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <a onclick="$('#modal_subpolities').modal('hide');" role="button" class="btn btn-primary">{% trans "Close" %}</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
