{% extends "base.html" %}
{% load i18n %}
{% load wasa2il %}

{% block facebook_title %}{{ INSTANCE_NAME }}: {{ polity }}{% endblock %}

{% block breadcrumbs %}
{% add_breadcrumb _('Polities') '/polities' %}
{% add_breadcrumb polity.name %}
{{ block.super }}
{% endblock %}

{% block content %}
<section class="content">
<h1>
    {{ polity.name }}
    {% if user.is_staff %}
        <a class="btn btn-default" role="button" href="{% url 'polity_edit' polity.id %}">{% trans 'Settings' %}</a>
        <a class="btn btn-default" role="button" href="{% url 'polity_officers' polity.id %}">{% trans 'Officers' %}</a>
    {% endif %}
</h1>

<div id="polity-info">
    <span style="white-space: nowrap;">{% trans "New issues" %}: <strong>{{ issues_recent.count }}</strong></span>
    <span style="white-space: nowrap;">&nbsp;|&nbsp; {% trans "New elections" %}: <strong>{{ elections_recent.count }}</strong></span>
    <span style="white-space: nowrap;">&nbsp;|&nbsp; {% trans "Verified Users" %}: <strong>{{ verified_user_count }}</strong></span>
    <span style="white-space: nowrap;">&nbsp;|&nbsp; {% trans "Agreements" %}: <strong>{{ polity.agreements.count }}</strong></span>
    <span style="white-space: nowrap;">&nbsp;|&nbsp; {% trans "Topics" %}: <strong>{{ polity.topic_set.count }}</strong></span>
    <span style="white-space: nowrap;">&nbsp;|&nbsp; <a href="#"  onclick="$('#modal_admins').modal();">{% trans 'Officers' %}</a></span>
</div>

<hr />

<div class="row">
    {% include 'issue/_issues_recent.html' %}
    {% include 'election/_elections_recent.html' %}
</div>

<div class="modal fade" id="modal_admins">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "Polity officers" %}</h5>
            </div>
            <div class="modal-body" id="modal_subpolities_list">
                <p>
                    {% trans 'Officers can manage issues and manage elections.' %}
                    {% if FEATURES.tasks %}
                        {% trans 'They can promote users to wranglers and manage tasks like wranglers.' %}
                    {% endif %}
                    {% trans 'These officers have no access beyond other users to personal information, votes, or other database contents.' %}
                    <strong>{% trans 'Note that system administrators which are not listed here may still have additional access.' %}</strong>
                </p>
                <ul>
                {% for p in polity.officers.all %}
                    <li><a href="{% url 'profile' p.username %}">{{ p }}</a></li>
                {% empty %}
                    {% trans 'No officers have been designated for this polity.' %}
                {% endfor %}
                </ul>

                {% if FEATURES.tasks %}
                    <hr />
                    <h4>{% trans "Volunteer wranglers" %}</h4>
                    <p>{% blocktrans %}Wranglers can create tasks, assign users to tasks they have applied to, unassign users from tasks, and mark tasks as done.{% endblocktrans %}</p>
                    <ul>
                    {% for p in polity.wranglers.all %}
                        <li><a href="{% url 'profile' p.username %}">{{ p }}</a></li>
                    {% empty %}
                        {% trans 'No wranglers have been configured for this polity.' %}
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="modal-footer">
                <a onclick="$('#modal_admins').modal('hide');" role="button" class="btn btn-primary">{% trans "Close" %}</a>
            </div>
        </div>
    </div>
</div>

</section>
{% endblock %}
