{% load i18n %}
{% load wasa2il %}

{% comment %}
    Required variables:
    1. documentcontent
    2. selected_diff_documentcontent
{% endcomment %}

<script language="javascript" type="text/javascript">

    var DOCUMENTCONTENT_ID = {{ documentcontent.id }}
    var TRIGGER_DIFF = {% if tab == 'diff' %}true{% else %}false{% endif %};
    var CAPTION_TAB_COMPARISON = "{% trans 'Comparison' %}";
    var CAPTION_TAB_COMPARISON_LOADING = "{% trans 'Comparison in progress...' %}";

    function loadDiffContent() {

        $diff_content = $('.legal-text-container #diff-content');
        $tab_comparison = $('.legal-text-container #tab-comparison');

        if ($diff_content.html() == "") {

            $tab_comparison.html(CAPTION_TAB_COMPARISON_LOADING);

            $.getJSON(
                '/api/documentcontent/render-diff/',
                data = {
                    target_id: DOCUMENTCONTENT_ID,
                    source_id: $('#siblings').val()
                }
            )
            .done(function(data) {
                $($diff_content).html(data.diff);
            })
            .always(function(data) {
                $tab_comparison.html(CAPTION_TAB_COMPARISON);
            });
        }
    }

    $(document).ready(function() {
        $('.legal-text-container [tabname="view"]').bind('click', function (e) {
            $(this).parent().find('li').removeClass('active');
            $(this).addClass('active');
            $('#legal-text-diff').fadeOut(0, function () {
                $('#legal-text').fadeIn(0);
            });
            return false
        });
        $('.legal-text-container [tabname="diff"]').bind('click', function (e) {

            loadDiffContent();

            $(this).parent().find('li').removeClass('active');
            $(this).addClass('active');
            $('#legal-text').fadeOut(0, function () {
                $('#legal-text-diff').fadeIn(0);
            });

            return false
            // e.preventDefault();
        });

        $('.legal-text-container #siblings').bind('change', function(e) {
            // Clear the stage so that content surely gets reloaded despite "caching" in loadDiffContent().
            $('.legal-text-container #diff-content').html("");

            // Load the diff content.
            loadDiffContent();
        });

        if (TRIGGER_DIFF) {
            loadDiffContent();
        }

    });

</script>

<div class="legal-text-container">
    {% if documentcontent.document.documentcontent_set.count != 1 %}
        <ul class="nav nav-tabs" style="margin: 0px;">
            <li tabname="view" {% if tab != 'diff' %}class="active" {% endif %}><a href="#">{% trans "Text" %}</a></li>
            <li tabname="diff" {% if tab == 'diff' %}class="active" {% endif %}><a href="#" id="tab-comparison">{% trans "Comparison" %}</a></li>
        </ul>
        <div id="legal-text-diff" {% if tab != 'diff' %}style="display: none;"{% endif %}>
            <div id="siblings-container">
                {% trans 'Compared to' %}:
                <select id="siblings">
                {% for sibling in documentcontent.siblings %}
                    {% if sibling.id == selected_diff_documentcontent.id %}
                        <option value="{{ sibling.id }}" selected="selected">{% trans "Version" %} {{ sibling.order }} - {{ sibling.get_status_display }} {% if sibling == documentcontent.predecessor %}({% trans "predecessor" %}){% endif %}</option>
                    {% else %}
                        <option value="{{ sibling.id }}">{% trans "Version" %} {{ sibling.order }} - {{ sibling.get_status_display }} {% if sibling == documentcontent.predecessor %}({% trans "predecessor" %}){% endif %}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </div>
            <pre id="diff-content"></pre>
        </div>
    {% endif %}
    <div id="legal-text" {% if tab == 'diff' %}style="display: none;"{% endif %}>
    {{ documentcontent.text|markdown }}
    </div>
</div>
