{% extends "base.html" %}
{% load i18n %}
{% block content %}

<h1>{% trans "New forum" %}</h1>

{% for i in form.errors %}
{{i}}
{% endfor %}

<form action="/polity/{{polity.id}}/forum/new/" method="POST"/>
{%csrf_token%}
<input type="hidden" name="id_polity" value="{{polity.id}}"/>
<table>

<tr><th><label for="id_name">{% trans "Name:" %}</label></th><td><input id="id_name" type="text" name="name" maxlength="128" /></td></tr>
<tr><td></td><td><button type="submit"/>{% trans "Save" %}</button></td></tr>
</table>
</form>

{% endblock %}
