/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }


#statements_declarations ol ol {
	list-style-type:        lower-alpha;
}

.state_buttons {
	display:                none;
}

.statementset li:hover > .state_buttons {
	display:                inline-block;
}

.helptext {
	font-size:	8pt;
	color:	#888;
}

ul.nobullets {
	list-style-type: none;
}

.thumbnail {
	float:		left;
	position:	relative;
	width:		80px;
	height:		80px;
	display:	inline-block;
	margin:		3px;
	overflow:	hidden;
}

.thumbnail.member {
}
.thumbnail.member > img {
	position: absolute;
	z-index: -1;
}
.thumbnail.member .title {
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	width: 80px;
	bottom: 0;
	text-align: center;
	background: rgba(255,255,255, 0.5);
}

.mainaction {
	display:	block;
	background:	#ccf;
	border:		1px solid #7768cc;
	border-radius:	15px;
	padding:	30px;
	color:		#000;
	min-height:	100px;
}

.mainaction:hover {
	text-decoration: none;
	background:	#eef;
}


footer {
	font-size:	10pt;
	margin-top:	30px;
}


.subnav {
	background:	#ccf;
	border-radius:	5px;
	padding-left:	10px;
	padding-right:	10px;
	margin-bottom:	20px;
}


.subnav > .nav {
	margin-bottom:	0px;
}


.meeting-notongoing, .meeting-ongoing, .meeting-notstarted, .meeting-ended,
.meeting-agendaopen, .meeting-agendaclosed, .meeting-manager, .meeting-attendee {
	display:	none;
}

.agenda-actions {
	margin-left:	40px;
	display:	none;
	cursor:		pointer;
}

.agenda-actions:hover {
	color:		#003;
}

#agenda-items li:hover > .agenda-actions {
	display:	inline-block;
}

#agenda-items li.done {
	text-decoration: line-through;
	color: #777;
}

#agenda-items li.ongoing {
	font-weight: bold;
}

#agenda-items li.ongoing:before {
	font-weight: bold;
	content: ">> ";
}

ol.interventions {
	font-weight: normal;
}

ol.interventions li.active {
	font-weight: bold;
}

ol.interventions li.active:before {
	font-weight: bold;
	content: ">> ";
}


.attendancelist li, .managerlist li {
	display:	block;
}
