{% extends "base.html" %}
{% load i18n %}
{% block content %}
<section class="content">

<div class="task">
    <div class="task__info">
        <h1>{{task.name}}</h1>
        <div class="task__description content">
            <h2 class="task__info-title">{% trans "Task description" %}</h2>
            <div class="content">
                {{task.description}}
            </div>
        </div>
        <div class="task__objective">
            <h2 class="task__info-title">{% trans "Task objectives" %}</h2>
            <div class="content">
                {{task.objectives}}
            </div>
        </div>
        <div class="task__requirement">
            <h2 class="task__info-title">{% trans "Required skills" %}</h2>
            <div class="content">
            {{task.requirements}}
            </div>
        </div>
    </div>
    <div class="task__needs">

        <div class="task__request">
            <h2>{% trans "Details" %}</h2>
            <div class="task__line">
              <p class="task__request-title">{% trans "Categories" %}:&nbsp; </p>
              <p class="task__needs-answer">
                  {% for i in task.categories.all %}{{i}}{% if not forloop.last %}, {% endif %}{% endfor %}
              </p>
            </div>

            <div class="task__line">
                <p class="task__request-title">{% trans "Skills" %}:&nbsp; </p>
                <p class="task__needs-answer">
                    {% for i in task.skills.all %}{{i}}{% if not forloop.last %}, {% endif %}{% endfor %}
                </p>
            </div>
        </div>

        <div class="task__request">
            <div class="task__line">
                <p class="task__request-title">{% trans "Number of volunteers needed" %}:&nbsp; </p>
                <p class="task__needs-answer">{{task.volunteers_needed}}</p>
            </div>
            <div class="task__line">
                <p class="task__request-title">{% trans "Estimated hours per week" %}:&nbsp; </p>
                <p class="task__needs-answer">{{task.estimated_hours_per_week}}</p>
            </div>
            <div class="task__line">
                <p class="task__request-title">{% trans "Estimated number of weeks" %}:&nbsp; </p>
                <p class="task__needs-answer">{{task.estimated_duration_weeks}}</p>
            </div>
        </div>

        {% if task.is_recruiting %}
        <form class="task__why-me" action="" method="post" id="apply-form" data-taskid="{{task.id}}">
          <h2>{% trans "Apply for task" %}</h2>

          <h2 class="task__why-me-title">{% trans "Why me?" %}</h2>
          <div class="js-apply-error hidden"></div>
          <div class="thank-you-message js-thank-you-message hidden" style="display: none;">
              {% trans "Thank you! You successfully applied for this task. You will be contacted by the wrangler of this task." %}
          </div>
          <div class="loading-popup loading-popup--success js-loading-success">
              <div class="loading-popup__success js-popup-success"></div>
          </div>
          <div class="task__form-fields js-form-fields">
              <textarea class="task__why-me-textarea" name="whyme" id="" cols="30" rows="10"></textarea>
              <input type="number" name="task_id" value="{{task.id}}" hidden="">
              <input class="btn btn-primary" type="submit" value="{% trans "Apply" %}" disabled="">
          </div>
        </form>
        {% elif task.is_done %}
        <div class="task_request">
          {% trans "This task has been completed already." %}
        </div>
        {% else %}
        <div class="task_request">
          {% trans "This task doesn't need more volunteers just now." %}
        </div>
        {% endif %}
    </div>
</div>

</section>
{% endblock %}
