{% extends "base.html" %}
{% load i18n %}
{% load wasa2il %}

{% block content %}
<section class="hero" style="background-image: url('/static/img/heroes/fistbump.jpg')">
  <h1>{% trans "Pitch in, help out" %}</h1>
  <h2>{% blocktrans %}{{ total_task_count }} tasks need your help{% endblocktrans %}</h2>
  <a href="#tasks" role="button" class="btn btn-primary btn-lg">{% trans "Check out the tasks" %}</a>
  {% if user.taskrequest_set.count > 0 %}<a href="{% url 'task_user_tasks' user.username %}" role="button" class="btn btn-primary btn-lg">{% trans "View your tasks" %}</a>{% endif %}
  {% if user_is_wrangler %}
  <div class="actions">
    <a class="btn btn-default btn-lg" href="/polity/{{polity.id}}/tasks/new/"><i class="fas fa-plus"></i> {% trans "New task" %}</a>
    <a class="btn btn-default btn-lg" href="/polity/{{polity.id}}/tasks/applications/"><i class="far fa-address-book"></i> {% trans "Review applications" %}</a>
  </div>
  {%endif%}
</section>

<section class="content">
  <div class="toolbar">
    <a name="tasks"></a>
    <h1>{% trans "Volunteer tasks" %}</h1>
  </div>
  {% include 'tasks/stub/list.html' with tasks=front_tasks %}
</section>

{% if sub_polity_tasks %}
<section class="content">
  <div class="toolbar">
    <a name="tasks"></a>
    <h1>{% blocktrans %}Volunteer tasks in polity {{ polity }}{% endblocktrans %}</h1>
  </div>
  {% include 'tasks/stub/list.html' with tasks=sub_polity_tasks %}
</section>
{% endif %}

{% endblock %}
