{% extends "base.html" %}
{% load i18n %}
{% load wasa2il %}
{% block content %}

<script>

$(document).ready(function() {
    $('#checkbox-share-contact').click(function() {
        var enabled = $(this).prop('checked');
        $('#apply-form input[type="submit"]').prop('disabled', enabled ? '' : 'disabled');
    });
});

</script>

{% include 'tasks/dialog_task_delete.html' %}

<section class="content">

<div style="float: right;">
    {% if user_is_wrangler %}
        {% if not task.is_done %}
            <a class="btn btn-default" role="button" href="{% url 'task_edit' task.polity_id task.id %}">{% trans 'Edit' %}</a>
        {% endif %}
        <a class="btn btn-default" role="button" onclick="$('#dialog-task-delete').modal('show');">{% trans 'Delete' %}</a>
    {% endif %}
</div>

<div class="task">
    <div class="task__info">
        <h1>{{task.name}}</h1>
        <div class="task__short_description">
            <h2 class="task__info-title">{% trans 'Short description' %}</h2>
            <div class="content">
                {{ task.short_description|urlize|markdown }}
            </div>
        </div>
        {% if task.detailed_description %}
        <div class="task__detailed_description content">
            <h2 class="task__info-title">{% trans 'Detailed description' %}</h2>
            <div class="content">
                {{ task.detailed_description|urlize|markdown }}
            </div>
        </div>
        {% endif %}
        {% if task.requirements %}
        <div class="task__requirement">
            <h2 class="task__info-title">{% trans 'Required skills' %}</h2>
            <div class="content">
            {{ task.requirements|urlize|markdown }}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="task__needs">

        {% comment %}
        <div class="task__request">
            <h2>{% trans "Details" %}</h2>

            {% if task.categories.all %}
            <div class="task__line">
              <p class="task__request-title">{% trans "Categories" %}:&nbsp; </p>
              <p class="task__needs-answer">
                  {% for i in task.categories.all %}{{i}}{% if not forloop.last %}, {% endif %}{% endfor %}
              </p>
            </div>
            {% endif %}

            {% if task.skills.all %}
            <div class="task__line">
                <p class="task__request-title">{% trans "Skills" %}:&nbsp; </p>
                <p class="task__needs-answer">
                    {% for i in task.skills.all %}{{i}}{% if not forloop.last %}, {% endif %}{% endfor %}
                </p>
            </div>
            {% endif %}
        </div>
        {% endcomment %}

        {% if task.volunteers_needed or task.estimated_hours_per_week or task.estimated_duration_weeks %}
        <div class="task__request">
            <h2>{% trans 'Details' %}</h2>
            {% if task.volunteers_needed %}
            <div class="task__line">
                <p class="task__request-title">{% trans 'Number of volunteers needed' %}:&nbsp; </p>
                <p class="task__needs-answer">{{ task.volunteers_needed }}</p>
            </div>
            {% endif %}
            {% if task.estimated_hours_per_week %}
            <div class="task__line">
                <p class="task__request-title">{% trans 'Estimated hours per week' %}:&nbsp; </p>
                <p class="task__needs-answer">{{ task.estimated_hours_per_week }}</p>
            </div>
            {% endif %}
            {% if task.estimated_duration_weeks %}
            <div class="task__line">
                <p class="task__request-title">{% trans 'Estimated number of weeks' %}:&nbsp; </p>
                <p class="task__needs-answer">{{ task.estimated_duration_weeks }}</p>
            </div>
            {% endif %}
        </div>
        {% endif %}

        <form class="task__why-me" action="" method="POST" id="apply-form" data-taskid="{{task.id}}">
        {% csrf_token %}
        <h2>{% trans "Apply for task" %}</h2>
        {% if user.is_authenticated %}
            {% if has_applied %}
                <div class="task__why-me-messages">
                {% trans "Thank you! You successfully applied for this task. You will be contacted by the wrangler of this task." %}
                </div>
            {% elif task.is_recruiting %}
                <h2 class="task__why-me-title">{% trans "Why me?" %}</h2>
                <div class="task__form-fields js-form-fields">
                    <textarea class="task__why-me-textarea" name="whyme" id="" cols="30" rows="10" {% if phone_required %}disabled="disabled"{% endif %}></textarea>
                </div>
                <h2 class="task__why-me-title">{% trans "What available time do I have?" %}</h2>
                <div class="task__form-fields js-form-fields">
                    <textarea class="task__why-me-textarea" name="available_time" id="" cols="30" rows="10" {% if phone_required %}disabled="disabled"{% endif %}></textarea>
                </div>
                {% if phone_required %}
                    <div class="task__why-me-messages">
                    <p>{% trans 'In order to volunteer, you must provide your phone number in your user profile, so that we can contact you regarding the task.' %}</p>
                    <a href="{% url 'account_settings' %}?redirect={{ request.get_full_path }}" class="btn btn-default">{% trans 'Settings' %}</a>
                    <small>{% trans '(You will be redirected back to this task.)' %}</small>
                    </div>
                {% endif %}
                <div class="task__form-fields js-form-fields">

                    {% if not phone_required %}
                        <label><input type="checkbox" id="checkbox-share-contact" /> {% blocktrans %}I accept that the task's wrangler will have access to my contact data.{% endblocktrans %}</label>
                    {% endif %}

                    <input class="btn btn-primary btn-lg pull-right" type="submit" value="{% trans 'Apply' %}" disabled="disabled">
                </div>
            {% elif task.is_done %}
                <div class="task__why-me-messages">
                {% trans 'This task has been completed already.' %}
                </div>
            {% else %}
                <div class="task__why-me-messages">
                {% trans 'This task doesn\'t need more volunteers just now.' %}
                </div>
            {% endif %}
        {% else %}
            <div class="task__why-me-messages">
            {% trans 'Please login to apply for this task.' %}
            </div>
        {% endif %}
        </form>
    </div>
</div>

</section>
{% endblock %}
