{% load i18n %}

<div class="modal hide fade" id="modal_{{type_name}}">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% blocktrans %}New {{type_name}}{% endblocktrans %}</h3>
  </div>
  <div class="modal-body">

    {% if type_name == 'reference' %}
    <p>{% trans "Choose a document to reference" %}:</p>
    <form>
      <select id="reference">
        {% for doc in referabledocs %}
          <option value="{{doc.id}}">{{doc.name}}</option>
        {% endfor %}
      </select>
    </form>
    {% endif %}

    {% if type_name == 'assumption' %}
    <p>{% trans "Write assumption:" %}</p>
    <form>
      <textarea style="width: 90%; min-height: 100px;" id="assumption"></textarea>
    </form>
    {% endif %}

    {% if type_name == 'statement' %}
    <form>
      <textarea style="width: 90%; min-height: 100px;" id="declaration"></textarea>
    </form>
    {% endif %}

    {% if type_name == 'subheading' %}
    <form>
      <input type="text" id="subheading"/>
    </form>
    {% endif %}

    {% if type_name == 'import' %}
    <p>{% trans "Statements:" %}</p>
    <form>
      <textarea style="width: 90%; min-height: 100px;" id="import_structure"></textarea>
    </form>
    {% endif %}

  </div>
  <div class="modal-footer">
    <a onclick="$('#modal_{{type_name}}').modal('hide');" class="btn">{% trans "Close" %}</a>
    <a onclick="new_{{type_name}}();" class="btn btn-primary">{% blocktrans %}Save {{type_name}}{% endblocktrans %}</a>
  </div>
</div>