	<div class="document-fragment statementset{% if not statementset %} empty-statementset{% endif %}" id="statements_{{statementset_name}}">
		<ol>
		{% for a in statementset %}
			{% if a.type == 3 %}
			</ol><li  data-id="{{a.id}}" data-type="{{a.type}}" class="statement_subheading">{{a|safe}}</li><ol>
			{% else %}
			<li data-id="{{a.id}}" data-type="{{a.type}}">
				{{a|urlizetrunc:30|safe}}
				<div class="mover"><i class="icon-move"></i></div>
			</li>
			{% endif %}
		{% empty %}
			<li>No {{statementset_name}}. Hover for actions.</li>
		{% endfor %}
		</ol>
	</div>