{% load wasa2il %}
{% load i18n %}
{% for candidate in candidates %}
<li data-seqid="{{candidate.id}}">
	<div style="position: relative;">
		{% if candidate.user.get_profile.high_seat %}
		<span style="color: #00DD00; position: absolute; right: 10px">•</span>
		{% endif %}
		<img src="{{candidate.user.get_profile.picture|thumbnail:'50x50'}}" class="img-rounded"/>
		<a href="/accounts/profile/{{candidate.user.username}}/">{{candidate.user.get_name}}</a>
		{% if election.is_voting %}
		{% if candidate_selected %}
		<button class="btn pull-right" onclick="election_deselect_candidate(this);">{% trans "Remove from ballot" %}</button>
		{% else %}
		<button class="btn pull-right" onclick="election_select_candidate(this);">{% trans "Vote" %}</button>
		{% endif %}
		{% endif %}
	</div>
</li>
{% empty %}
<p>{% if election.is_voting %}
		{% trans "Drag candidates here." %}
{% else %}
		{% trans "There are no candidates standing in this election yet!" %}
{% endif %}</p>
{% endfor %}
