{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div style="float:right">
	<a class="btn" href="/polity/{{delegation.polity.id}}/">{% trans "Back to polity" %}</a>
</div>
<h1>{% trans "Delegation:" %} {{delegation.base_issue}} {% trans "to" %} {{delegation.delegate}}</h1>

<div class="row">
	<div class="span12">
		<div class="btn-group pull-right">
			<a class="btn" href="/polity/{{delegation.polity.id}}/">{% trans "Stop delegating" %}</a>
			<a class="btn" href="/polity/{{delegation.polity.id}}/">{% trans "Change delegation" %}</a>
		</div>
		<p>
		<a href="/accounts/profile/{{delegation.user.username}}">{{delegation.user}}</a>
		{% for del in delegation.get_path %}
			<i class="icon-arrow-right"></i> 
			<a href="/accounts/profile/{{del.delegate.username}}">{{del.delegate}}</a>
		{% endfor %}
		</p>
	</div>
</div>

<div class="row">

	<div class="span6 pull-left">
		<h2>{% trans "Details" %}</h2>
		<table class="table table-striped table-bordered table-condensed" id="delegation_details">
		<tbody>
		<tr>
			<th>{% trans "Delegation type" %}:</th>
			<td>{{delegation.type}}</td>
		</tr>
		<tr>
			<th>{% trans "Delegated item" %}:</th>
			<td>{{delegation.base_issue.get_url}}</td>
		</tr>
		<tr>
			<th>{% trans "Delegated to user" %}:</th>
			<td><a href="/accounts/profile/{{delegation.delegate.username}}">{{delegation.delegate}}</a></td>
		</tr>
		<tr>
			<th>{% trans "Resulting delegation" %}:</th>
			<td><a href="/accounts/profile/{{delegation.result.username}}">{{delegation.result}}</a></td>
		</tr>
		</tbody>
		</table>

	</div>

	<div class="span6 pull-left">
		<h2>{% trans "Pathway breakdown" %}</h2>

		<table class="table table-bordered table-condensed" id="delegation_details">
		<tbody>
		{% for del in delegation.get_path %}
		<tr>
			<td>
				<a href="/accounts/profile/{{del.user.username}}">{{del.user}}</a>
				<i class="icon-arrow-right"></i> 
				<a href="/accounts/profile/{{del.delegate.username}}">{{del.delegate}}</a>
			</td>
			<td>{{del.base_issue.get_url}} ({{del.type}})</td>
		</tr>
		{% endfor %}
		</tbody>
		</table>

	</div>
</div>

{% endblock %}
