{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="btn-group pull-right">
	{% if document.user == user %}
		{% if document.is_proposed %}
			<a class="btn" onclick="document_propose({{document.id}}, 0);">{% trans "Withdraw proposal" %}</a>
		{% else %}
			<a class="btn" onclick="document_propose({{document.id}}, 1);">{% trans "Propose this document" %}</a>
		{% endif %}
	{% endif %}
	<a class="btn" href="/polity/{{polity.id}}/document/{{document.id}}/edit/">{% trans "Edit this document" %}</a>
	<a class="btn" href="/polity/{{polity.id}}/">{% trans "Back to polity" %}</a>
</div>
<h1>
{% if document.is_adopted %}Declaration {{document.decid}}:{% endif %}
{% if document.is_proposed %}Proposal {{document.id}}:{% endif %}
{% if not document.is_adopted and not document.is_proposed %}Draft proposal:{% endif %}
{{document.name}}</h1>

<h3>{% trans "Assumptions" %}</h3>

<ol class="statementset" style="list-style-type: square;" id="statements_references">
{% for a in document.get_references %}
	<li>{{a|safe}}</li>
{% endfor %}
</ol>

<ol class="statementset" style="list-style-type: upper-roman;" id="statements_assumptions">
{% for a in document.get_assumptions %}
	<li>{{a|safe}}</li>
{% endfor %}
</ol>

<h3>{% trans "Declarations" %}</h3>

<ol class="statementset" id="statements_declarations">
{% for a in document.get_declarations %}
	<li>{{a|safe}}</li>
{% endfor %}
</ol>


{% endblock %}
