{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="btn-group pull-right">
	{% if document.user == user %}
		{% if document.is_proposed %}
			<a class="btn" onclick="document_propose({{document.id}}, 0);">{% trans "Withdraw proposal" %}</a>
		{% else %}
			<a class="btn" onclick="document_propose({{document.id}}, 1);">{% trans "Propose this document" %}</a>
		{% endif %}
	{% endif %}
</div>
<h1>
{% if document.is_adopted %}<small>{% trans "Agreement" %} {{document.decid}}:</small>{% endif %}
{% if document.is_proposed %}<small>{% trans "Proposal" %} {{document.id}}:</small>{% endif %}
{% if not document.is_adopted and not document.is_proposed %}<small>{% trans "Draft proposal:"%}</small>{% endif %}
{{document.name}}</h1>

<div class="row">
<div class="span6 pull-left">
	<p><b>{{document.name}}</b></p>

	<p><i>{{document.polity.document_frontmatter}}</i></p>

	<ol class="statementset" style="list-style-type: square;" id="statements_references">
	{% for a in document.get_references %}
		<li data-id="{{a.id}}" data-type="0">{{a|safe}}</li>
	{% endfor %}
	</ol>

	<ol class="statementset" style="list-style-type: upper-roman;" id="statements_assumptions">
	{% for a in document.get_assumptions %}
		<li data-id="{{a.id}}" data-type="1">{{a|safe}}</li>
	{% endfor %}
	</ol>

	<p>{{document.polity.document_midmatter}}</p>

	<div class="statementset" id="statements_declarations">
	<ol>
	<ol>
	{% for a in document.get_declarations %}
		{% if a.type == 3 %}
		</ol><li  data-id="{{a.id}}" data-type="3" class="statement_subheading">{{a|safe}}</li><ol>
		{% else %}
		<li data-id="{{a.id}}" data-type="2">{{a|safe}}</li>
		{% endif %}
	{% endfor %}
	</ol>
	</ol>
	</div>

	<p>{{document.polity.document_footer}}</p>

</div>

<div class="span4 pull-right">
	{% if document.issues.count %}
		<h3>{% trans "Referenced by issues" %}</h3>
		<ul>
		{% for i in document.issues.all %}
		<li><a href="/issue/{{i.id}}/">{{i.name}}</a></li>
		{% endfor %}
		</ul>
	{% endif %}

	<h3>{% trans "Contributors to this document" %}</h3>
	<ul>
	{% for i in document.get_contributors %}
		<li><a href="/accounts/profile/{{i.username}}">{{i.username}}</a></li>
	{% endfor %}
	</ul>
	{% if not document.is_proposed %}
	<form class="form-inline" action="#">
		<input type="text" class="input-small" id="meeting_manager_add" data-polity-id="{{polity.id}}"/>
		<input type="submit" class="btn btn-small" id="meeting_manager_add_btn" value="{% trans "Add" %}"/>
	</form>
	{% endif %}
</div>

<div class="span2 pull-right">
	{% if document.polity in user.polity_set.all and not document.is_proposed %}
	<div class="btn-group btn-group-vertical">
		<a onclick="$('#modal_reference').modal('show');" class="btn">{% trans "New reference" %}</a>
		<a onclick="$('#modal_assumption').modal('show');" class="btn">{% trans "New assumption" %}</a>
		<a onclick="$('#modal_declaration').modal('show');" class="btn">{% trans "New statement" %}</a>
		<a onclick="$('#modal_subheading').modal('show');" class="btn">{% trans "New subheading" %}</a>
		<a onclick="$('#modal_import').modal('show');" class="btn">{% trans "Import structure" %}</a>
	</div>
	{% endif %}
	{% if document.polity in user.polity_set.all and document.is_proposed %}
	<div class="alert alert-success">
		<b>{% trans "Please note:" %}</b>
		{% trans "This document has been proposed." %}
		{% trans "Changes you make to it now will become change proposals, which will be voted on individually." %}
	</div>
	{% endif %}
</div>

</div>

<div class="row" id="changeproposals">
	<div class="span8">
		<h3>{% trans "Change proposals" %}</h3>
		<table class="table table-striped">
		{% for cp in document.changeproposal_set.all %}
			<tr>
				{% if cp.actiontype == 1 %}
				<td>{{cp.getref}}</td><td>[{% trans "Deleted" %}]</td>
				{% endif %}
				{% if cp.actiontype == 2 %}
				<td>{{cp.getref}}</td><td>[{% trans "Moved" %}]</td>
				{% endif %}
				{% if cp.actiontype == 3 %}
				<td>{{cp.getref}}</td><td>{{cp.content}}</td>
				{% endif %}
				{% if cp.actiontype == 4 %}
				<td>{% if cp.refitem == 0 %}
					{% trans "Added at beginning" %}
					{% else %}
					{% trans "Added after:" %}
					{{cp.get_refitem}}
					{% endif %}
				</td>
				<td>{{cp.content}}</td>
				{% endif %}
			</tr>
		{% endfor %}
		</table>
	</div>
</div>

<div class="modal hide fade" id="modal_reference">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% trans "New reference" %}</h3>
  </div>
  <div class="modal-body">
    <p>{% trans "Choose a document to reference:" %}</p>
        <form>
                <select id="reference">
			{% for doc in referabledocs %}
			<option value="{{doc.id}}">{{doc.name}}</option>
			{% endfor %}
                </select>
        </form>
  </div>
  <div class="modal-footer">
    <a onclick="$('#modal_reference').modal('hide');" class="btn">{% trans "Close" %}</a>
    <a onclick="new_reference();" class="btn btn-primary">{% trans "Save reference" %}</a>
  </div>
</div>


<div class="modal hide fade" id="modal_assumption">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% trans "New assumption" %}</h3>
  </div>
  <div class="modal-body">
    <p>{% trans "Write assumption:" %}</p>
        <form>
                <textarea style="width: 90%; min-height: 100px;" id="assumption"></textarea>
        </form>
  </div>
  <div class="modal-footer">
    <a onclick="$('#modal_assumption').modal('hide');" class="btn">{% trans "Close" %}</a>
    <a onclick="new_assumption();" class="btn btn-primary">{% trans "Save assumption" %}</a>
  </div>
</div>


<div class="modal hide fade" id="modal_declaration">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% trans "New statement" %}</h3>
  </div>
  <div class="modal-body">
        <form>
                <textarea style="width: 90%; min-height: 100px;" id="declaration"></textarea>
        </form>
  </div>
  <div class="modal-footer">
    <a onclick="$('#modal_declaration').modal('hide');" class="btn">{% trans "Close" %}</a>
    <a onclick="new_declaration();" class="btn btn-primary">{% trans "Save statement" %}</a>
  </div>
</div>


<div class="modal hide fade" id="modal_subheading">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% trans "New subheading" %}</h3>
  </div>
  <div class="modal-body">
        <form>
                <input type="text" id="subheading"/>
        </form>
  </div>
  <div class="modal-footer">
    <a onclick="$('#modal_subheading').modal('hide');" class="btn">{% trans "Close" %}</a>
    <a onclick="new_subheading();" class="btn btn-primary">{% trans "Save subheading" %}</a>
  </div>
</div>


<div class="modal hide fade" id="modal_import">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% trans "Import statements" %}</h3>
  </div>
  <div class="modal-body">
    <p>{% trans "Statements:" %}</p>
        <form>
                <textarea style="width: 90%; min-height: 100px;" id="import_structure"></textarea>
        </form>
  </div>
  <div class="modal-footer">
    <a onclick="$('#modal_import').modal('hide');" class="btn">{% trans "Close" %}</a>
    <a onclick="structure_import();" class="btn btn-primary">{% trans "Import" %}</a>
  </div>
</div>


<script>
function make_reference(node) {
	var nodeid = node.data("id");
	var type = node.data("type");

	{% if document.is_proposed %}
	if (type == 0 || type == 1) {
		prop = '<a onclick="statement_active=\'' + nodeid + '\';$(\'#modal_reference\').modal(\'show\');" class="btn btn-mini">{% trans "Add reference" %}</a>'
			  + '<a onclick="statement_active=\'' + nodeid + '\';$(\'#modal_assumption\').modal(\'show\');" class="btn btn-mini">{% trans "Add assumption" %}</a>';
	} else {
		prop = '<a onclick="statement_active=\'' + nodeid + '\';$(\'#modal_declaration\').modal(\'show\');" class="btn btn-mini">{% trans "Add statement" %}</a>'
			  + '<a onclick="statement_active=\'' + nodeid + '\';$(\'#modal_subheading\').modal(\'show\');" class="btn btn-mini">{% trans "Add subheading" %}</a>';

	}
	{% endif %}

	node.append('<div class="btn-group state_buttons">'
	          + '<a onclick="statement_delete($(this));" class="btn btn-mini">{% trans "Delete" %}</a>'
	{% if document.is_proposed %}
			  + prop
	{% endif %}
	          + '</div>');
}

$(function() {
	$('#modal_reference').modal({show: false, keyboard: true, backdrop: false});
	$('#modal_assumption').modal({show: false, keyboard: true, backdrop: false});
	$('#modal_declaration').modal({show: false, keyboard: true, backdrop: false});
	$('#modal_subheading').modal({show: false, keyboard: true, backdrop: false});

	$("#statements_references li").each(function(id, node) {
		make_reference($(node));
	});

	$("#statements_assumptions li").each(function(id, node) {
		make_reference($(node));
	});
                
	$("#statements_declarations li").each(function(id, node) {
		make_reference($(node));
	});

});

function statement_fork(item) {
	var ref = $("#newversion").val();
	$.getJSON("/api/document/statement/fork/", {"document": {{document.id}}, "original": item.data("id"), "text": ref}, function(data) {
		if (data.ok) {
			var k = $('#statements_references').append('<li data-id="' + data.seq + '" data-seq="' + data.seq + '">' + data.html + '</li>');
			make_reference(k);
			$('#modal_reference').modal('hide');
		} else {
			// Error message
		}
	});
}

function structure_import() {
	var ref = $("#import_structure").val();
	$.getJSON("/api/document/statement/import/", {"document": {{document.id}}, "text": ref}, function(data) {
		if (data.ok) {
			for (i = 0; i < data.new.length; i++) {
				d = data[i];
				var k = $('#statements_references').append('<li data-id="' + d.seq + '" data-seq="' + d.seq + '">' + d.html + '</li>');
				make_reference(k);
			}
			$('#modal_reference').modal('hide');
		} else {
			// Error message
		}
	});
	
}

function new_reference() {
	var ref = $("#reference").val();
	$.getJSON("/api/document/statement/new/{{document.id}}/0/", 
		{text: ref}, function(data) {
		if (data.ok) {
			var k = $('#statements_references').append('<li data-id="' + data.seq + '" data-seq="' + data.seq + '">' + data.html + '</li>');
			make_reference(k);
			$('#modal_reference').modal('hide');
		} else {
			// Error message
		}
	});
}

function new_assumption() {
	var ref = $("#assumption").val();
	$.getJSON("/api/document/statement/new/{{document.id}}/1/", 
		{text: ref}, function(data) {
		if (data.ok) {
			var k = $('#statements_assumptions').append('<li data-id="' + data.seq + '" data-seq="' + data.seq + '">' + data.html + '</li>');
			make_reference(k);
			$('#modal_assumption').modal('hide');
		} else {
			// Error message
		}
	});
}

function new_declaration() {
	var ref = $("#declaration").val();
	$.getJSON("/api/document/statement/new/{{document.id}}/2/", 
		{text: ref}, function(data) {
		if (data.ok) {
			var k = $('#statements_declarations').append('<li data-id="' + data.seq + '" data-seq="' + data.seq + '">' + data.html + '</li>');
			make_reference(k);
			$('#modal_declaration').modal('hide');
		} else {
			// Error message
		}
	});
}

function new_subheading() {
	var ref = $("#subheading").val();
	$.getJSON("/api/document/statement/new/{{document.id}}/3/", 
		{text: ref}, function(data) {
		if (data.ok) {
			var k = $('#statements_declarations').append('<li class="statement_subheading" data-id="' + data.seq + '" data-seq="' + data.seq + '">' + data.html + '</li>');
			make_reference(k);
			$('#modal_subheading').modal('hide');
		} else {
			// Error message
		}
	});
}


</script>


{% endblock %}
