{% extends "base.html" %}
{% load i18n %}
{% load wasa2il %}

{% block breadcrumbs %}
{% add_breadcrumb _('Polities') '/polities/' %}
{% url 'polity_detail' polity.id as polityurl %}
{% add_breadcrumb polity.name polityurl %}
{% add_breadcrumb _('New election') %}
{{ block.super }}
{% endblock %}

{% block javascript %}

    <script language="javascript" type="text/javascript">
        $(document).ready(function() {
            $('#id_deadline_candidacy').datetimepicker();
            $('#id_deadline_votes').datetimepicker();
            var next_week = new Date((new Date()).getTime() + 60 * 60 * 1000 * 24 * 7);
            var two_weeks = new Date((new Date()).getTime() + 60 * 60 * 1000 * 24 * 7 * 2);
            next_week.setMinutes(0)
            next_week.setSeconds(0)
            next_week.setMilliseconds(0)
            two_weeks.setMinutes(0)
            two_weeks.setSeconds(0)
            two_weeks.setMilliseconds(0)
            $('#id_deadline_candidacy').datetimepicker('setDate', next_week)
            $('#id_deadline_votes').datetimepicker('setDate',two_weeks)
        });
    </script>

{% endblock %}

{% block content %}

<h1>{% trans "New election" %}</h1>

<form method="POST">
    {% csrf_token %}
    <table class="table table-striped">
        {{ form.as_table }}
    </table>
    <button type="submit" class="btn btn-default" />{% trans 'Save' %}</button>
</form>


{% endblock %}
