{% extends "base.html" %}
{% load bootstrap %}
{% block content %}

<form action="/polity/{{polity.id}}/election/new/" method="POST"/>
    {%csrf_token%}
    <table>
        <fieldset>
            {{form.as_table}}
            <tr>
                <td></td>
                <td>
                    <button type="submit"/>Save</button>
                </td>
            </tr>
        </fieldset>
    </table>
</form>

<script>


$('#id_deadline_canidacy').bind('change', function () {

    var starts = $(this),
        starts_date = starts.datetimepicker('getDate'),
        ends = $('#id_time_ends'),
        ends_date = ends.datetimepicker('getDate');

    if (ends_date == null || starts_date >= ends_date) {
        ends_date = new Date(starts_date.getTime() + 60 * 60 * 1000);
        ends.datetimepicker('setDate', ends_date);
    }

    ends.datetimepicker('option', 'minDate', starts_date);
    ends.datetimepicker('option', 'minDateTime', starts_date);
});

$('#id_deadline_candidacy').datetimepicker();
$('#id_deadline_votes').datetimepicker();
var next_week = new Date((new Date()).getTime() + 60 * 60 * 1000 * 24 * 7);
var two_weeks = new Date((new Date()).getTime() + 60 * 60 * 1000 * 24 * 7 * 2);
next_week.setMinutes(0)
next_week.setSeconds(0)
next_week.setMilliseconds(0)
two_weeks.setMinutes(0)
two_weeks.setSeconds(0)
two_weeks.setMilliseconds(0)
$('#id_deadline_candidacy').datetimepicker('setDate', next_week)
$('#id_deadline_votes').datetimepicker('setDate',two_weeks)

</script>

{% endblock %}
