{% extends "base.html" %}
{% load i18n %}
{% load wasa2il %}
{% block content %}

<div style="float: right;">
    <a class="btn btn-default" role="button" href="/polity/{{ election.polity.id }}">{% trans "Back to polity" %}</a>
</div>
<h1><small>{% trans "Election:" %}</small> {{ election.name }}</h1>

{% if election.is_closed %}
<div class="alert alert-danger">{% trans "This election is closed." %}</div>
{% elif not can_vote %}
<div class="alert alert-danger">
  {% trans "You cannot vote in this election:" %}
  <b>{% if not user.is_authenticated %}
  {% trans "Please log in." %}
  {% elif not user_is_member %}
  {% trans "You are not a member of this polity." %}
  {% elif user.userprofile.joined_org >= election.deadline_joined_org %}
  {% trans "You joined the organization too late." %}
  {% else %}
  {% trans "You do not meet the requirements." %}
  {% endif %}</b>
</div>
{% endif %}


{% if delegation %}
<div class="alert alert-notice">{% trans "This election is delegated." %} <a href="/delegation/{{ delegation.0.id }}">{% trans "View details." %}</a></div>
{% endif %}

<div class="row">
    <div class="col-md-6 col-xs-12">
        <p>{{ election.description }}</p>

        <table class="table table-compact">
            <tr><th>{% trans "Deadline for candidacy" %}:</th><td>{{ election.deadline_candidacy }} ({{ election.deadline_candidacy|timeuntil }})</td></tr>
            <tr><th>{% trans "Deadline for votes" %}:</th><td>{{ election.deadline_votes }} ({{ election.deadline_votes|timeuntil }})</td></tr>
            <tr><th>{% trans "Votes" %}:</th><td id="election_votes_count">{{ election.get_vote_count }}</td></tr>
            <tr><th>{% trans "Candidates" %}:</th><td id="election_candidates_count">{{ election.candidate_set.count }}</td></tr>
            <tr><th>{% trans "Voting system" %}:</th><td>{{ election.get_voting_system_display }}</td></tr>
        </table>
    </div>

    <div class="col-md-6 col-xs-12">
        {% if voting_interface_enabled %}
            <div class="alert alert-success">
                <p>{% trans "You don't have to submit your vote; whatever is on your ballot when the vote deadline passes will be counted." %}</p>
            </div>
            {% if election.instructions %}
                <div class="alert alert-success">
                    <p>{{ election.instructions|linebreaks }}</p>
                </div>
            {% endif %}
        {% endif %}

        {{ election.description }}

        {% if election.is_closed %}
            <h2>{% trans 'Election results' %}</h2>
            {% if ordered_candidates %}
            <div id="election_candidates_winners" style="margin-top: 1em;">
                <ol class="candidates" id="candidates_winners">
                {% for candidate in ordered_candidates %}
                    <li data-seqid="{{ candidate.id }}">
                        <div style="position: relative;">
                            <img src="{{ candidate.user.userprofile.picture|thumbnail:'50x50' }}" class="img-rounded vote-image" />
                            <a href="/accounts/profile/{{ candidate.user.username }}/">{{ candidate.user.get_name }}</a>
                        </div>
                    </li>
                {% endfor %}
                </ol>
            </div>
            {% elif vote_count == 0 %}
            <div class="alert alert-success">
                <p>{% trans "No votes were cast." %}</p>
            </div>
            {% else %}
            <div class="alert alert-success">
                <p>{% trans "Votes are still being counted." %}</p>
            </div>
            {% endif %}
        {% endif %}
    </div>

</div>


{% if not election.is_closed %}
<div class="row">
    {% if voting_interface_enabled %}
    <div class="col-md-5 col-xs-12 well voting">
        <h2>{% trans "Votes" %}</h2>
        <div class="alert alert-danger hidden">{% trans "There was an error while processing your vote. Please try again." %}</div>
        <div class="alert alert-info">{% trans "Drag candidates to change order" %}</div>
        <ol id="vote" class="candidates">

        </ol>
    </div>
    <div class="col-md-2"></div>
    {% endif %}
    <div class="col-md-5 col-xs-12 well"><a name="candidates"></a>
        <h2>{% trans "Candidates" %} <small>{% trans "running in this election" %}</small></h2>
        {% if user_is_member %}
        <a class="btn btn-default btn-large" role="button" style="display: none;" id="election_button_announce" onclick="election_candidacy_announce();">{% trans 'Announce candidacy' %}</a>
        <a class="btn btn-default btn-large" role="button" style="display: none;" id="election_button_withdraw" onclick="election_candidacy_withdraw();">{% trans 'Withdraw candidacy' %}</a>
        {% endif %}

        <div id="election_candidates" style="margin-top: 1em;">
            <ul class="candidates" id="candidates">
            </ul>
        </div>
    </div>
</div>
{% endif %}


<script>
var election_id = {{ election.id }};
var election_update_timer = null;
var election_update_wanted = false;

function election_select_candidate(element) {
    $(element).hide();  // TODO: This is not doing anything
    $(element).parent().parent().appendTo("#vote");
    election_update();
}

function election_deselect_candidate(element) {
    $(element).hide();
    $(element).parent().find(".vote-up").hide();
    $(element).parent().find(".vote-down").hide();
    $(element).parent().find(".vote-yes").show();  // TODO: is this needed?
    $(element).parent().parent().appendTo("#candidates");
    election_update();
}

function election_up_candidate(element) {
    $(element).parent().parent().insertBefore($(element).parent().parent().prev());
    election_update();
}

function election_down_candidate(element) {
    $(element).parent().parent().insertAfter($(element).parent().parent().next());
    election_update();
}

function election_update() {
    // We use a short timer here to consolidate multiple quick changes into
    // a single request. If there is no request pending, we start one.
    if (election_update_timer == null) {
        election_timer_stop();
        election_update_timer = setTimeout(do_election_update, 100);
    }
    else {
        // Otherwise, we make a note that an update was requested.
        election_update_wanted = true;
    }
}

function election_update_done() {
    // We just finished updating the backend, starting another request
    // is now safe.
    election_update_timer = null;

    // If an updated was requested but not handled: handle it!
    if (election_update_wanted) {
        election_update();
    } else {
        election_timer_start();
    }
}

function do_election_update() {
    // We're about to handle all the requests that have been made up to now.
    election_update_wanted = false;

    ord = [];
    $("#vote li").each(function(item) {
        ord.push($($("#vote li")[item]).data("seqid"));
    });
    $.getJSON("/api/election/vote/", {
        "election": election_id, "order": ord
    }, function(data) {
        if (data.ok) {
            election_object = data.election;
        } else {
            // Silent error reporting?
        }
        if (!election_update_wanted) {
             // We can safely update the UI if there aren't more changes
             // pending. Not rendering when more updates are pending prevents
             // "jumping" in the UI and should preserve changes made by the
             // user while the last update was in flight.
             election_render();
        }
    }).always(election_update_done);
}

$(function() {
    election_poll(election_id);

    {% if voting_interface_enabled %}
    election_timer_start();

    $(".candidates").sortable({
        start: function() { election_timer_stop(); },
        stop: function() { election_timer_start(); },
        distance: 5,
        delay: 300,
        connectWith: ".candidates",
        opacity: 0.6,
        cursor: 'move',
        update: election_update
    });
    {% endif %}

});
</script>



{% endblock %}
