{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div style="float: right;">
	<a class="btn" href="/polity/{{issue.polity.id}}">{% trans "Back to polity" %}</a>
</div>
<h1>{{issue.name}}</h1>

{% if delegation %}
<div class="alert alert-notice">{% trans "This polity is delegated." %} <a href="/delegation/{{delegation.0.id}}">{% trans "View details." %}</a></div>
{% endif %}

<div class="row">
	<div class="span6 pull-left">
		<p>{{issue.description}}</p>
		<p>{% trans "In topics:" %} {% for i in issue.topics.all %}<a href="/polity/{{issue.polity.id}}/topic/{{i.id}}/">{{i.name}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
	</div>

	<div class="span6 pull-right"><a name="documents"></a>
		<div class="btn-group" style="float: right">
			<a class="btn btn-mini" href="/issue/{{issue.id}}/document/new/">{% trans "New document" %}</a>
		</div>
        <h2>{% trans "Documents" %} <small>{% trans "proposed or in progress" %}</small></h2>
		<p>{% trans "Documents are structured texts which contain the laws of the polity, or proposals for such laws." %}</p>
		<h4>{% trans "Proposed documents" %}</h4>
        {% with issue.proposed_documents as documents %}
        {% include "core/_document_list_table.html" %}
        {% endwith %}

        {% if user_proposals %}
		<h4>{% trans "Your documents" %}</h4>
        <p>{% trans "Documents you are working on that haven't been proposed:" %}</p>
        {% with user_proposals as documents %}
        {% include "core/_document_proposals_list_table.html" %}
        {% endwith %}
        {% endif %}
	</div>


	<div class="span6 pull-left">
		<h2>{% trans "Discussion" %}</h2>
		<div id="issue_comments">
		</div>

		<div class="comment_form form-inline">
			<textarea id="id_comment" class="span4"></textarea>
			<button class="btn primary" onclick="issue_comment_send({{issue.id}}, $('#id_comment'));">{% trans "Add comment" %}</button>
		</div>
	</div>
</div>


<script>
$(function() {
	issue_id = {{issue.id}};
	issue_poll();
	issue_timer_start();
});
</script>



{% endblock %}
