{% extends "base.html" %}
{% load i18n %}

{% block javascript %}
    {{ block.super }}

    <script language="javascript" type="text/javascript">
        $(document).ready(function() {
            $('#id_name').focus();
        });
    </script>

{% endblock %}

{% block content %}

<h1>{% trans "New polity" %}</h1>

<form action="/polity/new/" method="POST" />
    {%csrf_token%}
    <table class="table table-striped">
        {{form.as_table}}
    </table>
    <button type="submit" class="btn" />{% trans "Save" %}</button>
</form>

{% endblock %}
