{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div style="float:right;">
	<a class"btn" href="/polity/new/">{% trans "New polity" %}</a>
</div>

<h1>{% trans "Polities" %}</h1>

<table>
<tr>
	<th>{% trans "Polity" %}</th>
	<th>{% trans "Members" %}</th>
	<th>{% trans "Topics" %}</th>
</tr>
{% for polity in polities %}
{% if polity.is_listed %}
<tr>
	<td><a href="/polity/{{polity.id}}/">{{polity.name}}</a></td>
	<td>{{polity.members.count}}</td>
	<td>{{polity.topic_set.count}}</td>
</tr>
{% endif %}
{% endfor %}
</table>

{% endblock %}
