{% extends "base.html" %}
{% load i18n %}
{% load wasa2il %}
{% block content %}

<div style="float:right;" class="btn-group">
{% if user_is_member %}
  <a class="btn" onclick="$('#leave_polity').modal('show');">{% trans "Leave polity" %}</a>
{% endif %}
{% if not user_is_member and not user_requested_membership %}
<a class="btn" href="/polity/{{polity.id}}/join/">{% trans "Join polity" %}</a>
	{% if polity.invite_threshold == 0 %}
	<a class="btn" href="/polity/{{polity.id}}/join/">{% trans "Request to join polity" %}</a>
	{% endif %}
{% endif %}
</div>
{% if user_is_member %}
<div style="float:right;" class="memberstatusbox">
  {% if user in polity.officers.all %}
    {% trans "You are an officer in this polity." %}
  {% else %}
    {% trans "You are a member of this polity." %}
  {% endif %}
</div>
{% endif %}

<h1>{{polity.name}}</h1>

{% if user_is_member %}
{% if delegation %}
<div class="alert alert-notice">{% trans "This polity is delegated." %} <a href="/delegation/{{delegation.0.id}}">{% trans "View details." %}</a></div>
{% endif %}
{% endif %}

{% if user_requested_membership %}
	{% if user_requested_membership_now %}
		<div class="alert alert-success">{% trans "Your request to join has been sent." %}</div>
	{% else %}
		<div class="alert alert-success">{% trans "Your request to join this polity is still pending." %}</div>
	{% endif %}
{% endif %}

{% if user_is_member or polity.is_nonmembers_readable %}
<div id="polity_stats" class="subnav">
	<ul class="nav nav-pills">
		<li><a href="#" onclick="$('#modal_members').modal('show');">{{polity.members.count}} {% trans "members" %}</a></li>
		<li><a href="#topics">{{polity.topic_set.count}} {% trans "topics" %}</a></li>
		<li><a href="#documents">{{polity.agreements.count}} {% trans "agreements" %}</a></li>
		<li><a href="#subpolities">{{polity.polity_set.count}} {% trans "subpolities" %}</a></li>
	
	{% if user_is_member %}
		{% if polity_show_membership_requests %}
			{% if membership_requests.count == 0 %}
			<li class="disabled"><a href="#">{{membership_requests.count}} {% trans "membership requests" %}</a></li>
			{% else %}
			<li><a href="#" onclick="$('#modal_requests').modal('show');">{{membership_requests.count}} {% trans "membership requests" %}</a></li>
			{% endif %}
		{% endif %}

		{% if delegations.count > 0 %}
			<li><a href="#delegations">{% trans "You have" %} {{delegations.count}} {% trans "delegations" %}</a></li>
		{% endif %}
	{% endif %}	
	</ul>
</div>

<div class="row">

<div class="span6 pull-left"><a name="topics"></a>
	{% if user_is_member %}
	<div class="btn-group" style="float: right">
		<a class="btn btn-mini" href="/polity/{{polity.id}}/issue/new/">{% trans "New issue" %}</a>
		<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-list"></i><span class="caret"></span></a>
		<ul class="dropdown-menu" style="left: -150px;">
			<li><a id="topics_showstarred_toggle" onclick="topics_showstarred_toggle({{polity.id}});"><i class="icon-ok {% if user.get_profile.topics_showall %}icon-grey{% endif %}"></i> {% trans "Show only starred topics" %}</a></li>
			<li><a href="/polity/{{polity.id}}/topic/new/">{% trans "New topic" %}</a></li>

		</ul>
	</div>
	{% endif %}
	<h2>{% trans "Topics" %} <small>{% trans "of discussion"%}</small></h2>

	<p class="muted">{% trans "Topics are thematic categories that contain specific issues." %}</p>

	<table class="table table-striped table-bordered table-condensed" id="topics_list">
	<thead>
	<tr>
		<th>{% trans "Topics" %}</th>
		<th>{% trans "Issues" %}</th>
		<th>{% trans "Open Issues" %}</th>
		<th>{% trans "Voting Issues" %}</th>
	</tr>
	</thead>
	<tbody>
	{% with politytopics as topics %}
	{% include "core/_topic_list_table.html" %}
	{% endwith %}
	</tbody>
	</table>
</div>


<div class="span6 pull-right"><a name="meetings"></a>
	{% if user_is_member %}
	<div class="btn-group" style="float: right">
		<a class="btn btn-mini" href="/polity/{{polity.id}}/meeting/new/">{% trans "New meeting" %}</a>
		<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-list"></i><span class="caret"></span></a>
		<ul class="dropdown-menu" style="left: -150px;" id="meetings-menu">
			<li><a onclick="meetings_ongoing_toggle();"><i class="icon-ok"></i> {% trans "Show ongoing meetings" %}</a></li>
			<li><a onclick="meetings_upcoming_toggle();"><i class="icon-ok"></i> {% trans "Show upcoming meetings" %}</a></li>
			<li><a href="#"><i class="icon-ok icon-white"></i> {% trans "Show finished meetings" %}</a></li>
		</ul>
	</div>
	{% endif %}
	<h2>{% trans "Meetings" %} <small>{% trans "physical or virtual" %}</small></h2>

	<p class="muted">{% trans "A meeting is an event where people come together to discuss a set of agenda items." %}</p>

	<table class="table table-striped table-bordered table-condensed">
	<tr>
		<th>{% trans "When" %}</th>
		<th>{% trans "Where" %}</th>
		<th>{% trans "Organized by" %}</th>
		<th>{% trans "Status" %}</th>
	</tr>
	{% for meeting in polity.meetings_ongoing %}
	<tr>
		<td><a href="/polity/{{meeting.polity.id}}/meeting/{{meeting.id}}/">{{meeting.time_starts|date:"d/m/Y H:i"}}</td>
		<td>{{meeting.location}}</td>
		<td>{% for man in meeting.managers.all %}<a href="/accounts/profile/{{man.username}}">{{man.username}}</a>{% endfor %}</td>
		<td>{{meeting.get_status}}</td>
	</tr>	
	{% endfor %}
	{% for meeting in polity.meetings_upcoming %}
	<tr>
		<td><a href="/polity/{{meeting.polity.id}}/meeting/{{meeting.id}}/">{{meeting.time_starts|date:"d/m/Y H:i"}}</td>
		<td>{{meeting.location}}</td>
		<td>{% for man in meeting.managers.all %}<a href="/accounts/profile/{{man.username}}">{{man.username}}</a>{% if not forloop.last%}, {% endif %}{% endfor %}</td>
		<td>{{meeting.get_status}}</td>
	</tr>	
	{% endfor %}
	</table>
</div>


{% if user_is_member %}
<div class="span6 pull-left"><a name="delegations"></a>
	<div class="btn-group" style="float: right">
		<a class="btn btn-mini" href="#">{% trans "New delegation" %}</a>
		<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-list"></i><span class="caret"></span></a>
		<ul class="dropdown-menu" style="left: -150px;" id="meetings-menu">
			<li><a onclick="meetings_ongoing_toggle();"><i class="icon-ok"></i> {% trans "Show ongoing meetings" %}</a></li>
			<li><a onclick="meetings_upcoming_toggle();"><i class="icon-ok"></i> {% trans "Show upcoming meetings" %}</a></li>
			<li><a href="#"><i class="icon-ok icon-white"></i> {% trans "Show finished meetings" %}</a></li>
		</ul>
	</div>

	<h2>{% trans "Delegations" %} <small>{% trans "votes entrusted to others" %}</small></h2>
	<p class="muted">
		{% trans "You can set up delgations for the polity, for topics, or for issues." %}
		{% trans "Here you can see all of your active delegations and where they lead to." %}
	</p>
	{% with user.delegate_set.all as delegations %}
	{% include "core/_delegations_table.html" %}
	{% endwith %}
</div>
{% endif %}

{% if polity.polity_set.all %}
<div class="span6 pull-left"><a name="subpolities"></a>
	<h2>{% trans "Subpolities" %}</h2>

	<p class="muted">{% trans "A polity can have subordinate organizational units, such as how a municipality relates to a country." %}</p>

	<ul>
	{% for subpolity in polity.polity_set.all %}
		<li><a href="/polity/{{subpolity.id}}/">{{subpolity.name}}</a></li>
	{% endfor %}
	</ul>
</div>
{% endif %}


<div class="span6 pull-right"><a name="documents"></a>
	{% if user_is_member %}
	<div class="btn-group" style="float: right">
		<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-list"></i><span class="caret"></span></a>
		<ul class="dropdown-menu" style="left: -150px;">
			<li><a href="/polity/{{polity.id}}/document/new/">{% trans "New document" %}</a></li>

		</ul>
	</div>
	{% endif %}
	<h2>{% trans "Agreements" %} <small>{% trans "of this polity" %}</small></h2>
	
	<p class="muted">{% trans "Here are all of the agreements this polity has arrived at." %}</p>

	{% with polity.agreements as documents %}
	{% include "core/_document_agreement_list_table.html" %}
	{% endwith %}
</div>


</div>


<div class="modal hide fade" id="modal_members">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% trans "Members of this polity" %}</h3>
  </div>
  <div class="modal-body" id="modal_members_list">

	{% for m in polity.members.all %}
		<a href="/accounts/profile/{{m.username}}/" class="thumbnail" style="background: url('/static/img/blank-user-icon.jpg') no-repeat">
			{{m.username}}
		</a>
	{% endfor %}

  </div>
  <div class="modal-footer">
    <a onclick="$('#modal_members').modal('hide');" class="btn btn-primary">{% trans "Close" %}</a>
  </div>
</div>


<div class="modal hide fade" id="modal_requests">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% trans "Users requesting membership" %}</h3>
  </div>
  <div class="modal-body">

  	<ul class="nobullets">
	{% for m in membership_requests %}
		<li>
			<a
				class="thumbnail member membership_request"
				href="#"
				data-id="{{m.id}}"
				data-csrftoken="{{csrf_token}}">
	            <img src="/static/img/blank-user-icon.jpg" />
	            <div class="title">
	                <div class="title">{{m.requestor.username}}</div>
	                <div class="progress">
						<div class="membershiprequest_percent bar bar-success" style="width: {{m.votespercent}}%;">
							{{m.votes}}/{{m.votesneeded}}
						</div>
					</div>
	            </div>
	        </a>
    	</li>
	{% endfor %}
	</ul>

  </div>
  <div class="modal-footer">
    <a onclick="$('#modal_requests').modal('hide');" class="btn btn-primary">{% trans "Close" %}</a>
  </div>
</div>


<div id="leave_polity" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% trans "Leave this polity?" %}</h3>
  </div>
  <div class="modal-body">
  	<p>{% trans "Are you sure you want to stop being a member of this polity?" %}.</p>
    <p>
    	{% trans "Only members get to participate in the polity's activities." %}
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" onclick="$('#leave_polity').modal('hide');" class="btn">{% trans "No, I hit that button by accident" %}</a>
    <a href="/polity/{{polity.id}}/leave/" class="btn btn-primary">{% trans "Yes, I want to leave this polity." %}</a>
  </div>
</div>


<script>
$('#meetings-menu').click(function (event) {
     event.stopPropagation();
});
</script>

{% endif %}

{% endblock %}
