{% extends "base.html" %}
{% load i18n %}
{% load wasa2il %}
{% block content %}

{% if user_is_member %}
    <div style="float:right;" class="memberstatusbox">
        {% if user in polity.officers.all %}
            {% trans "You are an officer in this polity." %}
        {% else %}
            {% trans "You are a member of this polity." %}
        {% endif %}
    </div>
{% endif %}

<h1>{{ polity.name }}</h1>

{% if user_is_member or polity.is_nonmembers_readable %}

<div id="polity_stats" class="subnav">
    <ul class="nav nav-pills">
        <li><a href="#topics">{{polity.topic_set.count}} {% trans "topics" %}</a></li>
        <li><a href="#documents">{{polity.agreements.count}} {% trans "agreements" %}</a></li>
        <li><a href="#subpolities" onclick="$('#modal_subpolities').modal('show');">{{polity.polity_set.count}} {% trans "subpolities" %}</a></li>
    </ul>
</div>

<div class="container">

<div class="row">
    <div class="col-md-6 col-xs-12"><a name="topics"></a>
        {% if user_is_member %}
        <div class="btn-group" style="float: right">
            {% if not polity.is_newissue_only_officers or polity.is_newissue_only_officers and user in polity.officers.all %}
            <a class="btn btn-default btn-sm" role="button" href="/polity/{{polity.id}}/topic/new/">{% trans "New topic" %}</a>
            {% endif %}
            <a class="btn btn-default btn-sm dropdown-toggle" role="button" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-list"></span><span class="caret"></span></a>
            <ul class="dropdown-menu" style="left: -90px;">
                <li><a id="topics_showstarred_toggle" onclick="topics_showstarred_toggle({{ polity.id }});"><span class="glyphicon glyphicon-ok {% if user.userprofile.topics_showall %}icon-grey{% endif %}"></span> {% trans "Show only starred topics" %}</a></li>
            </ul>
        </div>
        {% endif %}
        <h2>{% trans "Topics" %} <small>{% trans "of discussion"%}</small></h2>

        <p class="muted">{% trans "Topics are thematic categories that contain specific issues." %}</p>

        <table class="table table-striped table-bordered table-condensed" id="topics_list">
        <thead>
        <tr>
            <th>{% trans "Topics" %}</th>
            <th>{% trans "Issues" %}</th>
            <th>{% trans "Open Issues" %}</th>
            <th>{% trans "Voting Issues" %}</th>
            <th><span class="glyphicon glyphicon-star"></span></th>
        </tr>
        </thead>
        <tbody>
        {% with politytopics as topics %}
        {% include "core/_topic_list_table.html" %}
        {% endwith %}
        </tbody>
        </table>
    </div>

    <div class="col-md-6 col-xs-12" style="float: right;"><a name="documents"></a>
        {% if user_is_member %}
        <div class="btn-group" style="float: right">
            <a class="btn btn-default btn-sm" role="button" href="/polity/{{ polity.id }}/document/new/">{% trans "New document" %}</a>
        </div>
        {% endif %}
        <h2>{% trans "Agreements" %} <small>{% trans "of this polity" %}</small></h2>

        <p class="muted">{% trans "Here are all of the agreements this polity has arrived at." %}</p>

        {% with polity.agreements as documentcontents %}
            {% include "core/_document_agreement_list_table.html" %}
        {% endwith %}
    </div>

    <div class="col-md-6 col-xs-12"><a name="newissues"></a>

        <h2>{% trans "New issues" %} <small>{% trans "in discussion"%}</small></h2>

        <p class="muted">{% trans "These are the newest issues being discussed in this polity." %}</p>

        <table class="table table-striped table-bordered table-condensed" id="newissues_list">
        <thead>
        <tr>
            <th>{% trans "Issue" %}</th>
            <th>{% trans "State" %}</th>
            <th>{% trans "Comments" %}</th>
            <th>{% trans "Votes" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for issue in newissues %}
            <tr>
                <td>
                    <span id="issuestar_{{ issue.id }}" class="glyphicon glyphicon-pencil {% if issue|issuevoted:user %}{% else %}icon-grey{% endif %}"
                        title="{% if issue|issuevoted:user %}{% trans "You have voted on this issue" %}{% else %}{% trans "You have not voted on this issue" %}{% endif %}"></span>
                    <a href="/issue/{{issue.id}}/">{{issue.name}}</a>
                </td>
                <td class="issue-status">{% if issue.is_voting %}{% trans "Voting" %}{% else %}{% if issue.is_open %}{% trans "Open" %}{% else %}{% trans "New" %}{% endif %}{% endif %}</td>
                <td>{{ issue.comment_set.count }}</td>
                <td>{{ issue.get_votes.count }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

    <div class="col-md-6 col-xs-12">
        <div class="btn-group" role="group" style="float: right">
            {% if user_is_member %}
                {% if not polity.is_newissue_only_officers or polity.is_newissue_only_officers and user in polity.officers.all %}
                <a class="btn btn-default btn-sm" role="button" href="/polity/{{polity.id}}/election/new/">{% trans "New election" %}</a>
                {% endif %}
            {% endif %}
            <a class="btn btn-default btn-sm dropdown-toggle" role="button" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-list"></span><span class="caret"></span></a>
            <ul class="dropdown-menu" style="left: -50px;">
                <li><a id="elections_showclosed_toggle" onclick="elections_showclosed_toggle({{ polity.id }});"><span class="glyphicon glyphicon-ok icon-grey"></span> {% trans "Show closed elections" %}</a></li>
                <li><a href="/polity/{{ polity.id }}/election/">{% trans "Show all elections" %}</a></li>
            </ul>
        </div>

        <h2>{% trans "Elections" %} <small>{% trans "putting people in power"%}</small></h2>

        <p class="muted">{% trans "Sometimes you need to put people in their places. Elections do just that." %}</p>

        <table class="table table-striped table-bordered table-condensed" id="elections_list">
        <thead>
        <tr>
            <th>{% trans "Election" %}</th>
            <th>{% trans "State" %}</th>
            <th>{% trans "Candidates" %}</th>
            <th>{% trans "Votes" %}</th>
        </tr>
        </thead>
        <tbody>
        {% include "core/_election_list_table.html" with elections=newelections %}
        </tbody>
        </table>
    </div>

</div>

</div>


<div class="modal fade" id="modal_subpolities">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>{% trans "Subpolities" %}</h3>
            </div>
            <div class="modal-body" id="modal_subpolities_list">
                <ul>
                    {% for p in polity.polity_set.all %}
                        <li><a href="/polity/{{p.id}}/">{{p.name}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <a onclick="$('#modal_subpolities').modal('hide');" role="button" class="btn btn-primary">{% trans "Close" %}</a>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}
