{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div style="float:right">
	<a class="btn" href="/polity/{{topic.polity.id}}/">{% trans "Back to polity" %}</a>
	<a class="btn" href="/polity/{{topic.polity.id}}/topic/{{topic.id}}/issues/new/">{% trans "New issue" %}</a>
</div>
<h1>{{topic.name}}</h1>

<div class="row">

	<div class="span6">
		<p>{{topic.description}}</p>
	</div>

	<div class="span6">
		<h2>Open issues</h2>
		<table class="table table-striped table-bordered">
		<tr>
			<th>{% trans "ID" %}</th>
			<th>{% trans "Issues" %}</th>
			<th>{% trans "State" %}</th>
			<th>{% trans "Documents" %}</th>
			<th>{% trans "Votes" %}</th>
		</tr>
		{% for issue in topic.issue_set.all %}
		<tr>
			<td>{{issue.id}}</td>
			<td><a href="/polity/{{topic.polity.id}}/topic/{{topic.id}}/issue/{{issue.id}}/">{{issue.name}}</a></td>
			<td>{{issue.state}}</td>
			<td>{{issue.document_set.count}}</td>
			<td>{{issue.vote_set.count}}</td>
		</tr>
		{% endfor %}
		</table>
	</div>

	<div class="span6">
		<h2>{% trans "New discussions" %}</h2>
	</div>
</div>

{% endblock %}
