{% load i18n %}
{% load wasa2il %}

<script language="javascript" type="text/javascript">

var show_closed_issues;

$(document).ready(function() {

    $('#issues-showclosed').on('click', function() {

        var polity_id = $(this).attr('data-polity-id') || 0;

        show_closed_issues = (show_closed_issues ? 0 : 1);

        var params = {
            'polity_id': polity_id,
            'showclosed': show_closed_issues
        };

        $.getJSON('/api/issue/showclosed/', params, function(data) {
            if (data.ok) {
                $('#issues-recent tbody').html(data.html);
                if (data.showclosed) {
                    $('#issues-showclosed span').removeClass('icon-grey');
                } else {
                    $('#issues-showclosed span').addClass('icon-grey');
                }
            }
        });

    });

});

</script>

<div class="col-md-6 col-xs-12">
    <a name="newissues"></a>

    <h2>{% trans "New and recent issues" %}</h2>
    <p class="muted">
        {% blocktrans %}Issues ongoing, upcoming or concluded in the past {{ RECENT_ISSUE_DAYS }} days.{% endblocktrans %}
    </p>

    <div>
      <a class="btn btn-toggle btn-default btn-sm" id="issues-showclosed" data-polity-id="{{ polity.id}}">
        <span class="fas fa-check icon-grey"></span>
        {% trans "Show closed issues" %}
      </a>
      {% if polity %}
      <a class="btn btn-toggle btn-default btn-sm" href="{% url 'issues' polity.id %}">
        {% trans 'Show all issues in polity' %}
      </a>
      {% endif %}
    </div>


    <table class="table table-striped table-bordered table-condensed" id="issues-recent">
        <thead>
            <tr>
                <th>{% trans 'Issue' %}</th>
                {% if not polity %}
                    <th>{% trans 'Polity' %}</th>
                {% endif %}
                <th>{% trans 'State' %}</th>
                <th style="width: 1px; text-align: center;">
                    <i class="fas fa-comment" title="{% trans 'Comments' %}"></i>
                </th>
                <th style="width: 1px; text-align: center;">
                    <i class="fas fa-check-square" title="{% trans 'Votes' %}"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            {% include 'issue/_issues_recent_table.html' %}
        </tbody>
    </table>
</div>
