{% extends "base.html" %}
{% load i18n %}
{% load wasa2il %}
{% load bootstrap %}

{% block facebook_title %}{% trans 'Document:' %} {{ document.name }} ({{ current_content.order }}){% endblock %}
{% block facebook_description %}{% trans 'Status:' %} {{ current_content.get_status_display }}{% endblock %}

{% block javascript %}
    <script src="/static/js/jquery.autosize-min.js"></script>
    <script>
        var DOCUMENTCONTENT_ID = {% if current_content.id %}{{ current_content.id }}{% else %}0{% endif %};
    </script>

    <script language="javascript" type="text/javascript">
        $(document).ready(function() {

            $('#retract-proposal').click(function() {

                $.post(
                    '/api/documentcontent/' + DOCUMENTCONTENT_ID + '/retract/',
                    null,
                    function(data) {
                        if (data.ok) {
                            location.reload();
                        }
                        else {
                            alert('Error: ' + data.error);
                        }
                    },
                    'json'
                ).fail(function(data) {
                    alert('Error: ' + data.error);
                });

            });

        });
    </script>

{% endblock %}


{% block content %}
<section class="content">
<h1>
    <small>
        {% if current_content.status == 'accepted' %}
            {% trans "Agreement" %}:
        {% elif current_content.status == 'proposed' %}
            {% trans "Proposal" %}:
        {% endif %}
    </small>
    {{ current_content.name }}
    {% if current_content.predecessor and current_content.name != current_content.predecessor.name and current_content.status != 'accepted' %}
        <small>({% trans 'Name change' %})</small>
    {% endif %}
</h1>

<div class="row">
    <div class="col-md-6 col-xs-12 document">

        {% include 'issue/stub/document_view.html' with documentcontent=current_content %}

    </div>

    <div class="col-md-6 col-xs-12">
        {% include "issue/stub/documentcontent_status.html" with documentcontent=current_content %}

        <form id="propose-change" action="." method="post">
            {% csrf_token %}
            <link href="/static/prosemirror/widget.min.css" type="text/css" media="all" rel="stylesheet">
            <script type="text/javascript" src="/static/prosemirror/widget.min.js"></script>
            <input type="hidden" name="v" value="{{ current_content.order }}" />

            {% if not user.is_anonymous and buttons_enabled %}

                <div class="panel panel-default">
                <div class="panel-body">

                {% if buttons.propose_change %}
                    <a class="btn btn-default" role="button" href="{% url 'documentcontent_add' polity.id document.id %}">{% trans "Propose change" %}</a>
                {% endif %}

                {% if buttons.retract_proposal %}
                    <button class="btn btn-default"
                            id="retract-proposal"
                            role="button"
                            data-toggle="confirmation"
                            data-title="{% trans 'Retract proposal' %}"
                            data-content="{% trans 'Are you sure you want to retract this issue?' %} {% trans 'Note that this will only cancel its vote, but will not delete the proposal itself.' %}"
                            data-btn-ok-label="{% trans 'Yes' %}"
                            data-btn-cancel-label="{% trans 'No' %}"
                            data-btn-ok-class="btn-success"
                            data-btn-cancel-class="btn-default"
                            type="button">
                        {% trans "Retract proposal" %}
                    </button>
                {% endif %}

                {% if buttons.edit_proposal %}
                    {% if buttons.edit_proposal == 'disabled' %}
                        <a class="btn btn-default disabled" role="button">{% trans "Edit proposal" %}</a>
                    {% else %}
                        <a class="btn btn-default" role="button" href="{% url 'documentcontent_edit' polity.id document.id current_content.order %}">{% trans "Edit proposal" %}</a>
                    {% endif %}
                {% endif %}

                {% if buttons.put_to_vote %}
                    {% if buttons.put_to_vote == 'disabled' %}
                        <a class="btn btn-default disabled" role="button">{% trans "Put to vote" %}</a>
                    {% else %}
                        <a class="btn btn-default" role="button" href="/polity/{{ polity.id }}/issue/new/documentcontent/{{ current_content.id }}/">{% trans "Put to vote" %}</a>
                    {% endif %}
                {% endif %}

                </div>
                </div>

            {% endif %}

        </form>


        {% if issue %}
            <table class="table table-compact">
                <tr><th>{% trans "Referenced issue" %}:</th><td><a href="{% url 'issue' polity.id issue.id %}">{{ issue.name }}</a></td></tr>
            </table>
        {% endif %}

    </div>

    {% if document.get_versions.count > 0 %}
    <div class="col-md-6 col-xs-12">
        <h3>{% trans "Versions" %}</h3>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Author" %}</th>
                <th>{% trans "Description" %}</th>
            </tr>
            {% for content in document.get_versions %}
            <tr class="change {% if content.order == current_content.order %}current{% endif %}" data-id="{{ content.id }}" data-patch="{{ content.patch }}">
                {% if content.order != current_content.order %}
                    <td><a href="{% url 'document_view' polity.id document.id content.order %}">{{ content.order }}</a></td>
                    <td style="white-space: nowrap;"><a href="{% url 'document_view' polity.id document.id content.order %}">{{ content.get_status_display }}</a></td>
                {% else %}
                    <td><strong>{{ content.order }}</strong></td>
                    <td style="white-space: nowrap;"><strong>{{ content.get_status_display }}</strong></td>
                {% endif %}
                <td><a href="/accounts/profile/{{ content.user }}"> {{ content.user.get_full_name|default:content.user.username }}</a></td>
                <td>{{ content.comments|markdown|urlize }}</td>
            </tr>
            {% endfor %}
            {% if action == 'new' %}
                <tr class="current">
                    <td>-</td>
                    <td><strong>{% trans 'New draft' %}</strong></td>
                    <td><a href="/accounts/profile/{{ request.user }}"> {{ user.get_full_name|default:user.username }}</a></td>
                    <td>-</td>
                </tr>
            {% endif %}
        </table>
    </div>
    {% endif %}


</div>
</section>
{% endblock %}
