{% extends "base.html" %}
{% load i18n %}
{% load wasa2il %}

{% block facebook_title %}{% trans 'Document:' %} {{ document.name }} ({{ current_content.order }}){% endblock %}
{% block facebook_description %}{% trans 'Status:' %} {{ current_content.get_status_display }}{% endblock %}

{% block breadcrumbs %}
{% add_breadcrumb _('Polities') '/polities/' %}
{% url 'polity_detail' polity.id as polityurl %}
{% add_breadcrumb polity.name polityurl %}
{% add_breadcrumb document.name %}
{{ block.super }}
{% endblock %}

{% block javascript %}
    <script src="/static/js/csrf.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/jquery.autosize-min.js"></script>
    <script>
        var DOCUMENT_ID = {{ document.id }};
        var DOCUMENTCONTENT_ID = {% if current_content.id %}{{ current_content.id }}{% else %}0{% endif %};
        var EDITOR_ENABLED = {% if editor_enabled %}true{% else %}false{% endif %};
        var ERROR_CHANGE_PROPOSAL_IDENTICAL = "{% trans 'Change proposal must differ from its predecessor.' %}";
    </script>

    <script language="javascript" type="text/javascript">
        $(document).ready(function() {

            var original_text = $('#predecessor-legal-text').val();

            $('.document #propose-change').submit(function (e) {
                input_text = $('#legal-text-editor').val();

                if (input_text.trim() == original_text.trim()) {
                    alert(ERROR_CHANGE_PROPOSAL_IDENTICAL);
                    e.preventDefault();
                    return false;
                }

                var inputs = $(this).find('input,textarea');
                inputs.attr('disabled', 'disabled');
                $.post(
                    '/api/document/propose-change/',
                    {
                        document_id: DOCUMENT_ID,
                        v: $('input[name="v"]').val(),
                        text: $('#legal-text-editor').val(),
                        comments: $(this).find('#comments').val(),
                        patch: '',
                        diff: ''
                    },
                    function (data) {
                        window.location.replace(window.location.pathname + '?v=' + data.order);
                    },
                    'json'
                ).fail(function(request, error_msg, error_thrown) {
                    alert("Error: " + error_thrown);
                    inputs.removeAttr('disabled');
                });
                e.preventDefault();
                return false;
            });

            $('.document #propose-change #btn-preview').click(function(e) {
                input_text = $('#legal-text-editor').val();
                $.post(
                    '/api/document/render-markdown/',
                    {
                        text: $('#legal-text-editor').val()
                    },
                    function(data) {
                        $('#legal-text').html(data.content);
                        $('#legal-text-container').show();
                        $('#btn-save').removeAttr('disabled');
                        $('#preview-note').hide();
                        $('#comments').focus();
                    },
                    'json'
                ).fail(function(data) {
                    alert('Fail:' + data);
                });
            });

        });
    </script>

{% endblock %}



{% block content %}

<h1>
    <small>
        {% if current_content.status == 'accepted' %}
            {% trans "Agreement" %}:
        {% elif current_content.status == 'proposed' %}
            {% trans "Proposal" %}:
        {% endif %}
    </small>
    {{document.name}}
</h1>

<div class="row">
    <div class="col-md-6 col-xs-12 document">
        <form id="propose-change" action="." method="post">
            {% csrf_token %}

            <input type="hidden" name="v" value="{{ current_content.order }}" />

            {% if editor_enabled %}
                <textarea id="predecessor-legal-text" style="display: none;">{{ current_content.predecessor.text }}</textarea>
                <textarea id="legal-text-editor">{{ current_content.text }}</textarea>
            {% else %}
                {% include 'issue/stub/document_view.html' with documentcontent=current_content %}
            {% endif %}

            {% if not user.is_anonymous %}

                {% if editor_enabled %}

                    <div class="comments">
                        <label for="comments">{% trans 'Comments' %} <small>({% trans 'optional' %})</small>:</label>
                        <textarea id="comments">{{ current_content.comments }}</textarea>
                    </div>

                    <div class="btn-group">
                        <input type="button" class="btn btn-default" id="btn-preview" value="{% trans "Preview" %}" />
                        <input type="submit" class="btn btn-default" id="btn-save" disabled="disabled" value="{% trans "Save" %}" />
                    </div>
                    <small id="preview-note">({% trans 'Preview is required before saving' %})</small>

                    <div class="btn-group pull-right">
                        {% if document.get_versions.count > 0 %}
                            <a class="btn btn-default" role="button" href=".">{% trans 'Cancel' %}</a>
                        {% else %}
                            <a class="btn btn-default" role="button" href="/polity/{{ document.polity_id }}/">{% trans 'Cancel' %}</a>
                        {% endif %}
                    </div>

                {% else %}

                    {% if buttons.propose_change %}
                        <a class="btn btn-default" role="button" href="?action=new">{% trans "Propose change" %}</a>
                    {% endif %}

                    {% if buttons.edit_proposal %}
                        {% if buttons.edit_proposal == 'disabled' %}
                            <a class="btn btn-default disabled" role="button">{% trans "Edit proposal" %}</a>
                        {% else %}
                            <a class="btn btn-default" role="button" href="?v={{ current_content.order }}&amp;action=edit">{% trans "Edit proposal" %}</a>
                        {% endif %}
                    {% endif %}

                    {% if buttons.put_to_vote %}
                        {% if buttons.put_to_vote == 'disabled' %}
                            <a class="btn btn-default disabled" role="button">{% trans "Put to vote" %}</a>
                        {% else %}
                            <a class="btn btn-default" role="button" href="/polity/{{ document.polity_id }}/issue/new/documentcontent/{{ current_content.id }}/">{% trans "Put to vote" %}</a>
                        {% endif %}
                    {% endif %}

                {% endif %}

            {% endif %}
        </form>

    </div>

    <div class="col-md-6 col-xs-12">

        {% if not editor_enabled %}
            {% include "issue/stub/documentcontent_status.html" with documentcontent=current_content %}
        {% endif %}

        {% if issue %}
            <table class="table table-compact">
                <tr><th>{% trans "Referenced issue" %}:</th><td><a href="/issue/{{ issue.id }}/">{{ issue.name }}</a></td></tr>
            </table>
        {% endif %}

    </div>


    <div class="col-md-6 col-xs-12">
        <!-- Preview area -->
        <div id="legal-text-container" style="display: none;">
            <div id="legal-text"></div>
        </div>
    </div>

    {% if document.get_versions.count > 0 %}
    <div class="col-md-6 col-xs-12">
        <h3>{% trans "Versions" %}</h3>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Author" %}</th>
                <th>{% trans "Comments" %}</th>
            </tr>
            {% for content in document.get_versions %}
            <tr class="change {% if content.order == current_content.order %}current{% elif content.order < current_content.order %}accepted{% endif %}" data-id="{{ content.id }}" data-patch="{{ content.patch }}">
                {% if content.order != current_content.order %}
                    <td><a href="?v={{ content.order }}">{{ content.order }}</a></td>
                    <td style="white-space: nowrap;"><a href="?v={{ content.order }}">{{ content.get_status_display }}</a></td>
                {% else %}
                    <td><strong>{{ content.order }}</strong></td>
                    <td style="white-space: nowrap;"><strong>{{ content.get_status_display }}</strong></td>
                {% endif %}
                <td><a href="/accounts/profile/{{ content.user }}"> {{ content.user.get_full_name|default:content.user.username }}</a></td>
                <td>{{ content.comments|linebreaks }}</td>
            </tr>
            {% endfor %}
            {% if action == 'new' %}
                <tr class="current">
                    <td>-</td>
                    <td><strong>{% trans 'New draft' %}</strong></td>
                    <td><a href="/accounts/profile/{{ request.user }}"> {{ user.get_full_name|default:user.username }}</a></td>
                    <td>-</td>
                </tr>
            {% endif %}
        </table>
    </div>
    {% endif %}


</div>

{% endblock %}
