{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<section class="content">
<h1>{% trans "New issue" %}</h1>

{% crispy form %}
{% if issue.id %}
    <span id="cancel-url">{% url 'issue' issue.polity_id issue.id %}</span>
{% else %}
    <span id="cancel-url">{% url 'document' issue.polity_id documentcontent.document_id %}?v={{ documentcontent.order }}</span>
{% endif %}

<hr />

{% if documentcontent %}
    <h2>{% trans 'Comparison' %}</h2>
    {% include 'issue/stub/document_view.html' with tab=tab %}
{% endif %}
</section>
{% endblock %}
