{% extends "base.html" %}
{% load i18n %}
{% load wasa2il %}
{% load static %}

{% block content %}
<section class="content">
    {% if user_is_member %}
    <div class="btn-group" style="float: right">
      {% if not polity.is_newissue_only_officers or polity.is_newissue_only_officers and user in polity.officers.all %}
      <a class="btn btn-default" role="button" href="/polity/{{polity.id}}/topic/new/">{% trans "New topic" %}</a>
      {% endif %}

      <a class="btn btn-toggle btn-default" id="topics_showstarred_toggle" onclick="topics_showstarred_toggle({{ polity.id }});"><span class="fas fa-check {% if user.userprofile.topics_showall %}icon-grey{% endif %}"></span> {% trans "Show only starred topics" %}</a>
    </div>
    {% endif %}
    <h1>{% trans "Topics" %} <small>{% trans "of discussion"%}</small></h1>

    <p class="muted">{% trans "Topics are thematic categories that contain specific issues." %}</p>

    <table class="table table-striped table-bordered table-condensed" id="topics_list">
    <thead>
    <tr>
        <th>{% trans "Topics" %}</th>
        <th>{% trans "Issues" %}</th>
        <th>{% trans "Open Issues" %}</th>
        <th>{% trans "Voting Issues" %}</th>
        <th><span class="fas fa-star"></span></th>
    </tr>
    </thead>
    <tbody>
    {% with politytopics as topics %}
    {% include "topic/_topic_list_table.html" %}
    {% endwith %}
    </tbody>
    </table>
</section>

{% endblock %}
