# Empty ignore file to get an empty directory into git. This directory is a 
# part of the general sphinx project structure and is refrenced in the sphinx 
# configuration. It might be confusing in the future if they are missing.
