{% load i18n %}

<p>{% trans "As of February 12th 2014, we require the verification of all user accounts via the so-called Icekey." %}</p>
<p><b>{% trans "Please be advised that by registering and verifying your account, you become a member of the Pirate Party of Iceland." %}</b></p>
<p>{% trans "Membership of political organizations is considered sensitive information by law." %}</p>
<p>{% trans "Therefore, you should keep the following in mind when becoming a member and using our system:" %}</p>
<ul>
    <li>{% trans "Your username is publicly visible. If you don't want to be recognized, use a different one than what you use elsewhere." %}</li>
    <li>{% trans "Your profile settings <strong>are mostly public</strong>, including your display name, image and description. We don't fill that out for you, though." %}</li>
    <li>{% trans "Don't put anything in there that you don't want visible to the public." %}</li>
    <li>{% trans "We do <strong>not</strong> display your email address in public." %}</li>
    <li>{% trans "If you have questions or concerns regarding privacy, please email us:" %} <a href="mailto:skraning@piratar.is">skraning@piratar.is</a></li>
</ul>

