{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}
{% block content %}

<div class="page-header"><h1>{% trans "Log in" %} <small>{% trans "and partake in democracy..." %}</small></h1></div>

<div class="row">
	<div class="span8">
		<form action="/accounts/login/" method="POST">
			{%csrf_token%}
			<fieldset> 
			{{ form.as_table }}
				<label></label>
				<input class="btn btn-primary" type="submit" value="{% trans "Login" %}"/>
				<a href="/accounts/register/" class="btn">{% trans "Sign up" %}</a>
				<a href="/accounts/password/reset/" class="btn">{% trans "Password reset" %}</a>
			</fieldset>
		</form>
	</div>

	<div class="span4">
	</div>

</div>

{% endblock %}
