{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}
{% block content %}

<div class="page-header"><h1>{% trans "Log in" %} <small>{% trans "and partake in democracy..." %}</small></h1></div>

<p>
  {% trans "If you forgot your username, you can log in or reset your password with your email address or SSN instead." %}
</p><p>
  {% trans "If problems arise, please send an email to the following email address:" %}
  <a href="mailto:skraning@piratar.is">skraning@piratar.is</a>
</p>

<div class="row">
	<div class="col-md-6 col-xs-12">
		<form method="POST">
			{%csrf_token%}
			<fieldset> 
			{{ form|bootstrap }}
				<label></label>
				<input class="btn btn-primary" type="submit" value="{% trans "Login" %}"/>
				<a href="/accounts/register/" role="button" class="btn btn-default">{% trans "Sign up" %}</a>
				<a href="/accounts/password/reset/" role="button" class="btn btn-default">{% trans "Password reset" %}</a>
			</fieldset>
		</form>
	</div>
</div>
<hr/>
<div>
{% include "registration/data_disclaimer.html" %}
</div>

{% endblock %}
