{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block content %}
<section class="content">

<h1>{% trans "Password reset" %}</h1>

<p>{% trans "Not sure which email you used? Try them all!" %}</p>

<div class="row">
    <div class="col-md-6 col-xs-12">
        <form method="post" action=".">
            {% csrf_token %}
            <fieldset>

                {{ form|bootstrap }}

                <input type="submit" class="btn btn-primary" value="{% trans 'Reset password' %}" />
                <a class="btn btn-default" href="/accounts/login/">{% trans 'Cancel' %}</a>

            </fieldset>
        </form>
    </div>
</div>

</section>
{% endblock %}
