{% extends "base.html" %}
{% load i18n %}

{% block content %}
<section class="content">
<h1>{% trans "Change password" %}</h1>

<div class="row">
<div class="col-md-6">
<form method="post" action=".">
    {% csrf_token %}

    <table class="table table-striped">
        {{ form.as_table }}
    </table>

    <div class="controls">
        <a class="btn btn-default btn-large" href="{% url 'account_settings' %}">{% trans 'Cancel' %}</a>
        <input class="btn btn-primary btn-large" type="submit" value="{% trans 'Save' %}" />
    </div>
</form>
</div>
</div>
</section>
{% endblock %}
