{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block content %}
<section class="content">

{% if validlink %}

    <h1>{% trans "Password reset" %}</h1>

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <form method="POST">
                {% csrf_token %}
                <fieldset>

                    {{ form|bootstrap }}

                    <button class="btn btn-primary" type="submit">{% trans 'Save' %}</button>

                </fieldset>
            </form>
        </div>
    </div>

    <hr />

{% else %}

    <h1>{% trans "Error" %}</h1>
    <p>{% trans "Password reset failed" %}</p>

{% endif %}

</section>
{% endblock %}
