{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Password reset" %} <small>{% trans "Check your email!" %}</small></h1>

<p>{% trans "Email with password reset instructions may have been sent." %}</p>

<h4>{% trans "Hints:" %}</h4>
<ul>
<li>{% trans "Check your spam folder!" %} :-)
<li>{% trans "If you do not receive an email, try resetting your password with other email addresses you may have used." %}
<br>{% trans "For security and privacy reasons, we cannot tell you whether you used the correct email address. Sorry!" %}
<li>{% trans "Still nothing? Try creating a new account." %}
</ul>
{% endblock %}
