{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}
{% block content %}

<div class="page-header"><h1>{% trans "Sign up" %} <small>{% trans "and partake in democracy..." %}</small></h1></div>

{% include "registration/data_disclaimer.html" %}

<div class="row">
    <div class="span8">
        <form action="/accounts/register/" method="POST">
            {%csrf_token%}
            <fieldset>
            {{ form.as_table }}
                <label></label>
                <input class="btn btn-primary" type="submit" value="{% trans "Sign up" %}"/>
            </fieldset>
        </form>
    </div>

    <div class="span4">
    </div>

</div>

{% endblock %}
