{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block dialog %}
    {% include 'cookie_dialog.html' %}
{% endblock %}

{% block content %}
<section class="content">
<h1>{% trans "Sign up" %} <small>{% trans 'and partake in democracy...' %}</small></h1>

<div class="row">
    <div class="col-md-6 col-xs-12">

        <p class="alert alert-info">
            {% trans "Please be advised that by registering and verifying your account, you become a member of the Pirate Party of Iceland." %}
        </p>

        {% if request.GET.email_sig and request.GET.email %}
            <form action="/gateway/register/?{{ request.GET.urlencode }}" method="POST">
        {% else %}
            <form action="/accounts/register/" method="POST">
        {% endif %}

        {%csrf_token%}

        <fieldset>
            {{ form|bootstrap }}
            <input class="btn btn-primary" type="submit" value="{% trans 'Sign up' %}"/>
            <a class="btn btn-default" href="/accounts/login/">{% trans 'Cancel' %}</a>
        </fieldset>

        {% if request.GET.email %}
            <script>
                $('label[for=id_email]').closest('.form-group').find('input')
                    .val("{{ request.GET.email|escapejs }}")
                    .prop('disabled', true);
            </script>
            <input type='hidden' name='email' value='{{ request.GET.email }}'>
        {% endif %}

        </form>
    </div>

</div>

</section>
{% endblock %}
