{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}
{% block content %}
<section class="content">
<h1>{% trans "Sign up" %} <small>{% trans 'and partake in democracy...' %}</small></h1>

{% if not request.GET.email %}
<div>
{% include "registration/data_disclaimer.html" %}
</div>
<hr>
{% endif %}

<div class="row">
    <div class="col-md-6 col-xs-12">
        {% if request.GET.email_sig and request.GET.email %}
            <form action="/gateway/register/?{{ request.GET.urlencode }}" method="POST">
        {% else %}
            <form action="/accounts/register/" method="POST">
        {% endif %}

        {%csrf_token%}

        <fieldset>
            {{ form|bootstrap }}
            <input class="btn btn-primary" type="submit" value="{% trans 'Sign up' %}"/>
            <a class="btn btn-default" href="/accounts/login/">{% trans 'Cancel' %}</a>
        </fieldset>

        {% if request.GET.email %}
            <script>
                $('label[for=id_email]').closest('.form-group').find('input')
                    .val("{{ request.GET.email|escapejs }}")
                    .prop('disabled', true);
            </script>
            <input type='hidden' name='email' value='{{ request.GET.email }}'>
        {% endif %}

        </form>
    </div>

</div>

{% if request.GET.email %}
    <hr>
    <div>
        {% include 'registration/data_disclaimer.html' %}
    </div>
{% endif %}

</section>
{% endblock %}
