{% extends "base.html" %}
{% load i18n %}

{% block content %}
<section class="content">
<h1>{% trans "Multiple accounts detected" %}</h1>
<div>
    <p>{% trans "It appears that you already have a different account. Its username and email address are provided below. Please try logging in again using its credentials." %}</p>
    <p>{% trans "If you have any further problems, please contact an administrator." %}</p>
    <ul>
        <li>{% trans "Username" %}: <strong>{{ taken_user.username }}</strong></li>
        <li>{% trans "Email" %}: <strong>{{ taken_user.email }}</strong></li>
    </ul>
    <p><a href="/accounts/login/" class="btn btn-primary">{% trans 'Login' %}</a></p>
</div>
</section>
{% endblock %}
