{% extends "base.html" %}
{% load i18n %}

{% block content %}
<section class="content">
<h1>{% trans "Verification needed" %}</h1>
<div>
    <p>{% trans "The account registration process cannot be completed until verification has been provided." %}</p>
    <p>{% trans "Please select one of the following options" %}:</p>
    <ul>
        <li><a href="{{ auth_url }}">{% trans "Verify identity" %}</a></li>
        <li><a href="/accounts/logout/">{% trans "Logout" %}</a></li>
    </ul>
</div>
</section>
{% endblock %}
