/*********************
* Media query mixins *
*********************/

@mixin phone-portrait() {
    @media screen and (orientation: portrait) {
        @content;
    }
}

@mixin phone-landscape() {
    @media screen and (orientation: landscape) {
        @content;
    }
}

@mixin phone-lg() {
    @media screen and (min-width: 480px) {
        @content;
    }
}

@mixin phone-lg-portrait() {
    @media screen and (min-width: 480px) and (orientation: portrait) {
        @content;
    }
}

@mixin phone-lg-landscape() {
    @media screen and (min-width: 480px) and (orientation: landscape) {
        @content;
    }
}

@mixin tablet() {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin tablet-portrait() {
    @media screen and (min-width: 768px) and (orientation: portrait) {
        @content;
    }
}

@mixin tablet-landscape() {
    @media screen and (min-width: 768px) and (orientation: landscape) {
        @content;
    }
}

@mixin desktop() {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin desktop-lg() {
    @media screen and (min-width: 1600px) {
        @content;
    }
}

@mixin desktop-xlg() {
    @media screen and (min-width: 2000px) {
        @content;
    }
}
