.navbar {
   background-color: $background-menubar;
   height: 70px;
   padding-right: 50px;

   .btn, button {
     color: $font-color-light;
     font-size: 25px;
   }

   .navbar-brand { margin: 0px; padding: 0px; color: #fff; }
   .navbar-brand img { max-height: 70px; }
   .nav > .li, .navbar .nav > li > a:hover, .navbar-nav li > a {
     color: #fff;
     font-family: $font-heading;
     font-size: 18px;
     font-weight: 300;
     line-height: 25px;
     margin-top: 10px;
     margin-left: 20px;
   }
   .navbar-nav li a:hover, .navbar-nav li a:active, .navbar-nav li a:focus {
     background-color: $background-menubar;
   }
   .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
     background-image: none;
     background-color: $background-dropdown;
     border-bottom: 2px solid $piratepurple;
   }
   .dropdown-menu {
     li > a, li a {
       background-color: $background-dropdown;
       border-bottom: 2px solid $background-dropdown;
       color: $font-color-dark;
       margin-left: 0;
     }
     background-color: $background-dropdown;
   }
}


.nav .subpolity-list-nav {
  list-style: none;
  padding-left: 0px;
  li {
    text-indent: 20px;
    line-height: 40px;
    a {
      display: block;
      text-decoration: none;
      color: $font-color-dark;
      font-family: $font-heading;
      font-size: 18px;
      i, svg {
        color: $piratepurple;
        margin-right: 7px;
      }
    }

    a:hover, a:active, a:focus {
      text-decoration: none;
      color: #000;
      background: #ddd;
    }

  }
}