#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: $sidebar-width;
  width: 0;
  height: 100%;
  margin-left: -$sidebar-width;
  overflow-y: auto;
  background: $background-lightgray;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: $sidebar-width;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: $sidebar-width;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav .dropdown-menu {
  width: $sidebar-width;
}

.sidebar-nav .dropdown-menu li {
  text-indent: 0px;
  border-bottom: 1px solid $background-lightgray;
}

.sidebar-nav .dropdown-menu li > a {
  white-space: normal;
  padding-left: 10px;
}

.sidebar-nav li {
  text-indent: 10px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: $font-color-dark;
  font-family: $font-heading;
  font-size: 18px;
  i, svg {
    color: $piratepurple;
    margin-right: 7px;
  }
}

.sidebar-nav li a:hover, .sidebar-nav li.active a {
  background: #ddd;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  background: #ddd;
}

.sidebar-nav li > span.label {
  margin-left: 10px;
}

.navbar-toggle {
  float: left;
  margin-left: 12px;
  margin-right: 6px;
}

@media(max-width:767px) {
  #sidebar-wrapper {
    box-shadow: 1px 0px 4px #ccc;
  }
}

@media(min-width:768px) {
  #wrapper {
    padding-left: $sidebar-width;
  }
  #wrapper.toggled {
    padding-left: $sidebar-width;
  }
  #sidebar-wrapper {
    width: $sidebar-width;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: $sidebar-width;
  }
}
