.task-preview {
    position: relative;
    flex: 0 0 auto;
    width: 100%;
    max-width: 405px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    font-family: $main-family;
    margin-bottom: 20px;

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__title {
        height: 52px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
        font-weight: bold;
        color: $white;
        background-color: $task-purple;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &__info-wrapper {
        flex-basis: 230px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 30px 20px;
        text-align: left;
        border-left: 3px solid $task-grey;
        border-right: 3px solid $task-grey;

    }

    &__main-info {
        display: flex;
        flex-flow: column;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 52px;
        padding: 0px 20px 0px 20px;
        font-size: 16px;
        background-color: $task-grey;
        color: $black;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

@include tablet() {
    .task-preview  {
        width: 48%;
        margin-bottom: 40px;
    }
}

@include desktop() {
    .task-preview  {
        width: 30%;
        margin-right: 5%;
        margin-bottom: 24px;
        max-width: none;

        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}
